body {
	margin: 0px;
	text-align:center;
	font-family: "풻";
	font-size: 12px;
	background-color:#fff;
}


/*---------------------퉹훱횇퉣---------------------------*/

.content { font-family: "풕턼환쥌";font-size: 14px;color: #000000;line-height: 26px;}
A:link {color: #000000; text-decoration: none}
A:visited {color: #000000; text-decoration: none}
A:active {color: #000000; text-decoration: none}
A:hover {color: #000000; text-decoration: none}

.style_dh { font-family: "풕턼환쥌";font-size: 16px;color: #4c4c4c;line-height: 22px;}

.style_dh2 { font-family: "풕턼환쥌";font-size: 16px;color: #ffffff;line-height: 22px;}

.style_white { font-family: "풕턼환쥌";font-size: 12px;color: #ffffff;line-height: 22px;}

.style_or {font-family: "풕턼환쥌";font-size: 18px;color: #5c1d04;line-height: 35px;font-weight: bold;}

.style_hui { font-family: "풕턼환쥌";font-size: 18px;color: #141414;line-height: 35px;}


.banener {
	background: url(banener.jpg)no-repeat center / cover;
}
.banener2 {
	background: url(banener2.jpg)no-repeat center / cover;
}
