<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <meta charset="UTF-8">
    <title>用户管理</title>
    <link rel="stylesheet" type="text/css" href="css/h_index.css">
    <link href="css/hDate.css" rel="stylesheet" />
    <script type="text/javascript" src="js/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="js/messages_zh.min.js"></script>
    <script type="text/javascript" src="js/hDate.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#commentForm").validate();
        });
    </script>
    <style>
        .error{
            color:red;
        }
        .checkboxFour {
            width: 20px;
            height: 20px;
            background: #ddd;
            margin: 20px 90px;

            border-radius: 100%;
            position: relative;
            -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
            -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
            box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
        }
        .checkboxFour label {
            display: block;
            width: 15px;
            height: 15px;
            border-radius: 100px;

            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            -o-transition: all .5s ease;
            -ms-transition: all .5s ease;
            transition: all .5s ease;
            cursor: pointer;
            position: absolute;
            top: 2.5px;
            left: 2.5px;
            z-index: 1;

            background: #999;

            -webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
            -moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
            box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
        }
        .checkboxFour input[type=checkbox]:checked + label {
            background: #26ca28;
        }
    </style>
    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
</head>
<% include /header %>
<div class="cont_y" id="adminList_page">
    <div id='mb' style="width:62.5%;height:100%;opacity: 0.55;position: absolute;z-index: 1000;background-color:#E7E8EB" hidden>
    </div>
    <div class="dqwz">您当前的位置:后台管理 > 管理员权限管理</div>
    <div class="sstj" div style="text-align:left;">
        管理员昵称：<input type="text" id="accounts">
        <span id="select" style="text-align:center;">搜索</span>
        <span id="new" style="text-align:center;">新建</span>
    </div>
    <div>
        <table width="100%" border="0" cellspacing="0" cellpadding="7" class="tableBasic">
            <tr>
                <td align="center" style="background-color:#F4F5F9;font-weight: bold;">
                    <div class="t" style="text-align: center;">管理员帐号</div>
                </td>
                <td align="center" style="background-color:#F4F5F9;font-weight: bold;">
                    <div class="t" style="text-align: center;">管理员昵称</div>
                </td>
                <td align="center" style="background-color:#F4F5F9;font-weight: bold;">
                    <div class="t" style="text-align: center;">信息发布</div>
                </td>
                <td align="center" style="background-color:#F4F5F9;font-weight: bold;">
                    <div class="t" style="text-align: center;">互动交流</div>
                </td>
                <td align="center" style="background-color:#F4F5F9;font-weight: bold;">
                    <div class="t" style="text-align: center;">管理员板块</div>
                </td>
                <td align="center" style="background-color:#F4F5F9;font-weight: bold;">
                    <div class="t" style="text-align: center;">关键字板块</div>
                </td>
                <td align="center" style="background-color:#F4F5F9;font-weight: bold;">
                    <div class="t" style="text-align: center;">菜单管理</div>
                </td>
                <td align="center" style="background-color:#F4F5F9;font-weight: bold;width: 10%;">
                    <div class="t" style="text-align: center;">操作</div>
                </td>

            </tr>
            <tbody id="notice_tbody">
            </tbody>
        </table>
    </div>
    <div class="tzym">
        <ul>
            <li><a href="javascript:void(0);" class="notice_action4">最末页</a></li>
            <li><a href="javascript:void(0);" class="notice_action3">下一页</a></li>
            <li><a href="javascript:void(0);" class="notice_action2">上一页</a></li>
            <li><a href="javascript:void(0);" class="notice_action1">第一页</a></li>
            <li><span id="notice_num"></span>个记录，共 <span id="notice_page">1</span>  页，当前第 <span id="notice_page_show">1</span> 页 | </li>
        </ul>
        <div class="clr"></div>
    </div>

    <div id="intMa" style="width: 40%;position: absolute;z-index: 1000;top: 30%;left: 38%;">
        <div style="border: 1px solid #CCC; width: 70%; margin: 0 auto;background-color: #fff;" id="mas" hidden>
            <div class="sstj" style="text-align:left;margin: 0 auto;background-color:#4EA5F2;height:40px;line-height:40px;color:#fff;">
                <h5>&nbsp;管理员管理表</h5>
            </div>
            <div class="sstj" div style="text-align:left;margin-left: 6%;">
                <lable>管理员昵称：</lable>
                <input id="xq_nickname" type="text" style="width: 60%" >
                <br>
                <br>
                <lable>管理员帐号：</lable>
                <input id="xq_accounts" type="text" style="width: 60%" >
                <br>
                <br>
                <lable>管理员密码：</lable>
                <input id="xq_password" type="text" style="width: 60%" >
            </div>
            <div class="sstj" div style="text-align:left;margin-left: 6%;">
                <lable >权限管理：</lable>
                <section style="margin-top: -40px">
                    <div class="checkboxFour" style="margin: 20px 0px -17px 28%;" >
                        <input style="margin: -4px 0 0 4px" type="checkbox" value="1" id="xxfb"/>
                        <label for="xxfb"></label>
                    </div>
                    <lable style="margin-left: 36%">信息发布</lable>
                </section>
                <section style="margin-top: -40px">
                    <div class="checkboxFour" style="margin: 20px 0px -17px 60%;" >
                        <input style="margin: -4px 0 0 4px"  type="checkbox" value="1" id="hdjl"/>
                        <label for="hdjl"></label>
                    </div>
                    <lable style="margin-left: 68%">互动交流</lable>
                </section>
            </div>

            <div class="sstj" div style="text-align:left;margin-left: 6%;">
                <lable>&nbsp;</lable>
                <section style="margin-top: -40px">
                    <div class="checkboxFour" style="margin: 20px 0px -17px 28%;" >
                        <input style="margin: -4px 0 0 4px" type="checkbox" value="1" id="glybk"/>
                        <label for="glybk"></label>
                    </div>
                    <lable style="margin-left: 36%">管理员板块</lable>
                </section>
                <section style="margin-top: -40px">
                    <div class="checkboxFour" style="margin: 20px 0px -17px 60%;" >
                        <input style="margin: -4px 0 0 4px"  type="checkbox" value="1" id="gjzgl"/>
                        <label for="gjzgl"></label>
                    </div>
                    <lable style="margin-left: 68%">关键字管理</lable>
                </section>
            </div>

            <div class="sstj" div style="text-align:left;margin-left: 6%;">
                <lable>&nbsp;</lable>
                <section style="margin-top: -40px">
                    <div class="checkboxFour" style="margin: 20px 0px -17px 28%;" >
                        <input style="margin: -4px 0 0 4px" type="checkbox" value="1" id="cdgl"/>
                        <label for="cdgl"></label>
                    </div>
                    <lable style="margin-left: 36%">菜单管理</lable>
                </section>
            </div>

            <div class="sstj" div style="text-align:left;margin:10px 0 10px 2%;">
                <span id="reply" style="text-align:center;width: 20%;margin: 0px 5% 0px 23%;">提交</span>
                <span id="return" style="text-align:center;width: 20%;margin: 0px 0 0px 5%;">取消</span>
            </div>
        </div>
    </div>
</div>
<div class="clr"></div>
</div>
</div>
<% include /footer %>
</body>
</html>
<script type="text/javascript">
    // 导航点击的变化
    $(function(){
        $(".cont_z ul li").click(function(){
            $(".cont_z ul li").each(function(){
                $(".cont_z ul li").removeClass("cur");
            })
            $(this).addClass("cur");
        })

    })
    // 收放导航
    $(function(){
        $(".xxgl").click(function(){
            $(".xxgl_1").slideToggle(500);
            $(".sf").toggleClass("sf_1")
        })
        $(".htgl").click(function(){
            $(".htgl_1").slideToggle(500);
            $(".sf2").toggleClass("sf_2")
        })
    })
</script>
<!--私有js-->
<script src="js/hsajj/adminList.js"></script>