<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
	<meta charset="UTF-8">
	<title>互动交流</title>
	<link rel="stylesheet" type="text/css" href="css/h_index.css">
    <link href="css/hDate.css" rel="stylesheet" />
	<script type="text/javascript" src="js/jquery-1.9.0.min.js"></script>
	<script type="text/javascript" src="js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="js/messages_zh.min.js"></script>
    <script type="text/javascript" src="js/hDate.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){  
            $("#commentForm").validate();  
        }); 
	</script>
	<style>
		.error{
			color:red;
		}
    </style>
    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
</head>
<% include /header %>
    		<div class="cont_y" id="communicte_page">
    			<div class="dqwz">您当前的位置:后台首页 > 互动交流</div>
                <div class="sstj_1">
                    用户名：<input type="text">  标题：<input type="text"> 时间：
                    <input id="Text1" onClick="calendar.show({ id: this })" type="text" value="起始日期"/> <input id="Text1" onClick="calendar.show({ id: this })" type="text" value="结束日期" /> 类型：<input type="text">  状态：<input type="text"> 
                    <span>搜索</span>
                </div>
                <div>
                    <table width="100%" border="0" cellspacing="0" cellpadding="7" class="tableBasic">
                      <tr>
                        <th width="15%">用户名</th>
                        <th width="25%">标题</th>
                        <th width="15%">时间</th>
                        <th width="15%">类型</th>
                        <th width="15%">状态</th>
                        <th width="15%">操作</th>
                      </tr>
                      <tr>
                        <td style="text-align:left;"><span style="width:50px;display: inline-block;"></span>张三</td>
                        <td>关于政策法规的通知</td>
                        <td>2016-07-26</td>
                        <td>投诉</td>
                        <td>已回复</td>
                        <td><a href="#">查看</a></td>
                      </tr>
                      <tr>
                        <td style="text-align:left;"><span style="width:50px;display: inline-block;"></span>张三</td>
                        <td>关于政策法规的通知</td>
                        <td>2016-07-26</td>
                        <td>投诉</td>
                        <td>已回复</td>
                        <td><a href="#">查看</a></td>
                      </tr>
                      <tr>
                        <td style="text-align:left;"><span style="width:50px;display: inline-block;"></span>张三</td>
                        <td>关于政策法规的通知</td>
                        <td>2016-07-26</td>
                        <td>投诉</td>
                        <td>已回复</td>
                        <td><a href="#">查看</a></td>
                      </tr>
                      <tr>
                        <td style="text-align:left;"><span style="width:50px;display: inline-block;"></span>张三</td>
                        <td>关于政策法规的通知</td>
                        <td>2016-07-26</td>
                        <td>投诉</td>
                        <td>已回复</td>
                        <td><a href="#">查看</a></td>
                      </tr>
                      <tr>
                        <td style="text-align:left;"><span style="width:50px;display: inline-block;"></span>张三</td>
                        <td>关于政策法规的通知</td>
                        <td>2016-07-26</td>
                        <td>投诉</td>
                        <td>已回复</td>
                        <td><a href="#">查看</a></td>
                      </tr>
                      <tr>
                        <td style="text-align:left;"><span style="width:50px;display: inline-block;"></span>张三</td>
                        <td>关于政策法规的通知</td>
                        <td>2016-07-26</td>
                        <td>投诉</td>
                        <td>已回复</td>
                        <td><a href="#">查看</a></td>
                      </tr>
                      <tr>
                        <td style="text-align:left;"><span style="width:50px;display: inline-block;"></span>张三</td>
                        <td>关于政策法规的通知</td>
                        <td>2016-07-26</td>
                        <td>投诉</td>
                        <td>已回复</td>
                        <td><a href="#">查看</a></td>
                      </tr>
                      <tr>
                        <td style="text-align:left;"><span style="width:50px;display: inline-block;"></span>张三</td>
                        <td>关于政策法规的通知</td>
                        <td>2016-07-26</td>
                        <td>投诉</td>
                        <td>已回复</td>
                        <td><a href="#">查看</a></td>
                      </tr>
                    </table>
                </div>
                <div class="tzym">
                    <ul>
                        <li>跳转至 <input type="text"> 页</li>
                        <li>末页</li>
                        <li>下一页</li>
                        <li>3</li>
                        <li>2</li>
                        <li>1</li>
                        <li>上一页</li>
                        <li>首页</li>
                    </ul>
                    <div class="clr"></div>
                </div>
    		</div>
    		<div class="clr"></div>
    	</div>
    </div>
    <% include /footer %>
</body>
</html>
<script type="text/javascript">
 // 导航点击的变化
	$(function(){
        $(".cont_z ul li").click(function(){
            $(".cont_z ul li").each(function(){
                $(".cont_z ul li").removeClass("cur");
            })
            $(this).addClass("cur");
        })

    })
// 收放导航
$(function(){
	$(".xxgl").click(function(){
		$(".xxgl_1").slideToggle(500);
		$(".sf").toggleClass("sf_1")
	})
	$(".htgl").click(function(){
		$(".htgl_1").slideToggle(500);
		$(".sf2").toggleClass("sf_2")
	})
})
</script>