<div class="footer"  style="padding: 8px 0 1px;">
	<div>
		<img src="images/dx.png" style="margin-right: 25px;position: relative;top: -10px;">
    	<span style="display: inline-block;font-weight:bold;line-height: 25px;">
    	    <a>关于本站</a> | <a>网站地图</a>  | <a>联系我们</a>  | <a>网站声明</a>  | <a>隐私声明</a>  | <a>网站管理</a>  | <a>网站帮助</a> </br>
			宁波市海曙区安全生产监督管理局
        </span>
	</div>
</div>