<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>宁波润琛阁装饰有限公司</title>
<link href="images/css.css" rel="stylesheet" type="text/css" />
  <link href="css/hDate.css" rel="stylesheet" />
  <script type="text/javascript" src="js/jquery-1.9.0.min.js"></script>
  <script type="text/javascript" src="js/jquery.validate.min.js"></script>
  <script type="text/javascript" src="js/messages_zh.min.js"></script>
  <script type="text/javascript" src="js/hDate.js"></script>
  <!-- 上传图片js -->
  <script type="text/javascript" src="/js/uploadify/jquery.uploadify.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/js/uploadify/uploadify.css" />
  <script type="text/javascript" src="/js/uploadify/upload-nuode.js"></script>
  <style>
  </style>
</head>
<body id="gsalPo_gage">
<center>
<table width="100%" height="30" border="0" align="center" cellpadding="0" cellspacing="0" background="images/top_1.jpg">
  <tr>
    <td width="33" align="left" bgcolor="#522124" class="style_white"><table width="1002"  height="33" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="725" align="left" class="style_white">您好！欢迎访问宁波润琛阁装饰有限公司官网！</td>
        <td width="277" align="right">欢迎admin</td>
      </tr>
    </table></td>
  </tr>
</table>
  <table width="100%" height="100" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td><table width="1002" height="100"border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="1046" height="100" align="left" ><a href="index"><img src="images/RCGlogo.png" width="159" height="46" /></a></td>
            <td width="34" height="50" align="right"><a><img src="images/top_zk.jpg" width="34" height="29" border="0" /></a></td>
          </tr>
        </table></td>
    </tr>
  </table>
<table width="100%" height="58" border="0" align="center" cellpadding="0" cellspacing="0" background="images/dh_bg.jpg">
  <tr>
    <td><table width="1002" height="58"  border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="16%" align="center" class="style_dh"><a href="zxlyAns">留言回复</a></td>
        <td width="16%" align="center" class="style_dh"><table width="120"height="58"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" bgcolor="#522124" class="style_dh2">案例展示</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
  <table width="100%" height="600"  border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="left" valign="top" bgcolor="#FFFFFF">
        <table width="1002" height="208" border="0" align="left" cellpadding="0" cellspacing="0">
          <tr>
            <td width="50%" height="5">&nbsp;</td>
          </tr>
          <tr>
            <td align="left" class="style_or" style="padding: 0% 0% 1% 41%;">名&nbsp;&nbsp;称:</td>
            <td><input type="text" name="chengHu" style="width:50%;height:34px;font-size:22px;" id="name_text"></td>
          </tr>
          <tr>
            <td align="left" class="style_or" style="padding: 0% 0% 1% 41%;">房屋面积:</td>
            <td><input type="text" name="chengHu" style="width:50%;height:34px;font-size:22px;" id="area_text"></td>
          </tr>
          <tr>
            <td align="left" class="style_or" style="padding: 0% 0% 1% 41%;">户&nbsp;&nbsp;型:</td>
            <td><input type="text" name="lianXi" style="width:50%;height:34px;font-size:22px;" id="houseType_text"></td>
          </tr>
          <tr>
            <td align="left" class="style_or" style="padding: 0% 0% 1% 41%;">风&nbsp;&nbsp;格:</td>
            <td><input type="text" name="lianXi" style="width:50%;height:34px;font-size:22px;" id="style_text"></td>
          </tr>
          <tr>
            <td align="left" class="style_or" style="padding: 0% 0% 1% 41%;">装修方式:</td>
            <td><input type="text" name="lianXi" style="width:50%;height:34px;font-size:22px;" id="way_text"></td>
          </tr>
          <tr>
            <td align="left" class="style_or" style="padding: 0% 0% 1% 41%;">预算报价:</td>
            <td><input type="text" name="lianXi" style="width:50%;height:34px;font-size:22px;" id="price_text"></td>
          </tr>
          <tr>
            <td align="left" class="style_or" style="padding: 0% 0% 1% 41%;">施工单位:</td>
            <td><input type="text" name="lianXi" style="width:50%;height:34px;font-size:22px;" id="unit_text"></td>
          </tr>
          <tr>
            <td align="left" class="style_or" style="padding: 0% 0% 1% 41%;">上传图片:</td>
            <td class="msg text-gray-lighter font-12 mt-0-5">（主图1张）
              <div class="w-70 ml-9 float-none clearfix">
                <ul class="alert-policy-01 pull-left clearfix" id="img_cover_ul">
                </ul>
                <div class="roompic-upload w-12">
                  <textarea id="img_url" hidden></textarea>
                  <a id="add_top_img" href="#" class="form-btn-upload"><i class="icon-plus-sign"></i>添加照片</a>
                </div>
              </div>
            </td>
          </tr>
          <!--<tr>-->
            <!--<td align="left" class="style_or" style="padding: 0% 0% 24% 41%;">签约日期:</td>-->
            <!--<td><textarea cols="30" rows="5" style="height: 260px;width: 100%;font-size:22px;" id="consult_text"></textarea></td>-->
          <!--</tr>-->
          <tr>
            <td align="right" class="style_dh">
              <table width="82"height="40"  border="0" cellspacing="0" cellpadding="0" style=" margin: 10px -82px 0px 0px;">
                <tr>
                  <td align="center" bgcolor="#522124" class="style_dh2" id="save" style="cursor:pointer">发布</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td height="50">&nbsp;</td>
          </tr>
        </table>
        <table width="100%" height="180" border="0" cellspacing="0" cellpadding="0" background="images/bot.jpg">
          <tr>
            <td align="center" bgcolor="#262626" class="style_bot"><table width="1002" height="180" border="0" cellspacing="0" cellpadding="0" >
                <tr>
                  <td height="20" colspan="2"></td>
                </tr>
                <tr>
                  <td width="754" align="left" valign="top"><img src="images/lxwm.png" width="380" height="125" /></td>
                  <td height="80" align="left" valign="top" class="style_dh2" style="padding: 59px 0px 0px 14px;">Copyright &copy; 2016 All Rights Reserved <br />
                    波润琛阁装饰有限公司  版权所有</td>
                </tr>
              </table></td>
          </tr>
        </table>
</center>
</body>
</html>
<!--私有js-->
<script src="js/brcg/gsalPo.js"></script>

