
<body>
<div class="header">
	<div class="tou_1">
		<img src="images/logo.png">
	</div>
</div>
<div class="article">
	<div class="cont_1">
		<div class="cont_z">
			<ul>
				<li style="padding:0 5px;font-weight:bold;background-color:#f8f8f8;color: #4a4949!important;" class="xxgl">
					<img src="images/2.png" class="tb">信息数据管理<span class="sf"></span>
				</li>
				<li class="xxgl_1"><a href="/docList">信息管理</a></li>
				<li class="xxgl_1"><a href="/interactionList">互动交流</a></li>
				<li class="xxgl_1"><a href="/investigateArray">调查管理</a></li>
				<li class="xxgl_1"><a href="/questionList">题目管理</a></li>
				<li style="padding:0 5px;font-weight:bold;background-color:#f8f8f8;color: #4a4949!important;" class="htgl">
					<img src="images/1.png" class="tb">后台数据管理<span class="sf2"></span>
				</li>
				<li class="htgl_1"><a href="/userList">用户管理</a></li>
				<li class="htgl_1"><a href="/keyWordList">关键字管理</a></li>
				<li class="htgl_1"><a href="/adminList">管理员及权限管理</a></li>
				<input id="operator" value="user" type='text' hidden />
			</ul>
		</div>