<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
	<meta charset="UTF-8">
	<title>后台首页</title>
	<link rel="stylesheet" type="text/css" href="css/h_index.css">
	<script type="text/javascript" src="js/jquery-1.9.0.min.js"></script>
	<script type="text/javascript" src="js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="js/messages_zh.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#commentForm").validate();
		});
	</script>
	<style>
		.error{
			color:red;
		}
	</style>
	<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->
</head>
<% include /header %>
<div class="cont_y" id="index_page">
    			<span class="xxx">
    			   <div class="xxx_1">
					   <img src="images/3.png"><span id="in">0</span></br>
					   <span style="font-size:16px;position: relative;top: -12px;left: 7px;">未处理消息</span>
				   </div>
    			   <div class="xxx_1" style="width:49%;border-left: 1px solid #859DDC;">
					   <img src="images/4.png"><span  style="position: relative;top: 3px;left: -5px;" id="new_us">0</span></br>
					   <span style="font-size:16px;position: relative;top: -12px;">新增人数</span>
				   </div>
    			</span>
    			<span class="zyh">
    			   <div class="zyh_1">
					   <img src="images/5.png"><span  style="position: relative;top: 3px;left: -5px;" id="sum_us">0</span></br>
					   <span style="font-size:16px;position: relative;top: -12px;">总用户数</span>
				   </div>
    			</span>
	<div class="clr"></div>
	<div class="lb">
		<ul id="lb">
			<li style="background-color:#f4f5f9;font-weight:bold;font-size:16px;">最新文档</li>

		</ul>
		<tbody id="notice_tbody">
		</tbody>
	</div>
</div>
<div class="clr"></div>
</div>
</div>
<% include /footer %>
</body>
</html>
<script type="text/javascript">
	// 导航点击的变化
	$(function(){
		$(".cont_z ul li").click(function(){
			$(".cont_z ul li").each(function(){
				$(".cont_z ul li").removeClass("cur");
			})
			$(this).addClass("cur");
		})

	})
	// 收放导航
	$(function(){
		$(".xxgl").click(function(){
			$(".xxgl_1").slideToggle(500);
			$(".sf").toggleClass("sf_1")
		})
		$(".htgl").click(function(){
			$(".htgl_1").slideToggle(500);
			$(".sf2").toggleClass("sf_2")
		})
	})
</script>

<!--私有js-->
<script src="js/hsajj/index.js"></script>