<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <meta charset="UTF-8">
    <title>用户管理</title>
    <link rel="stylesheet" type="text/css" href="css/h_index.css">
    <link href="css/hDate.css" rel="stylesheet" />
    <script type="text/javascript" src="js/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="js/messages_zh.min.js"></script>
    <script type="text/javascript" src="js/hDate.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#commentForm").validate();
        });
    </script>
    <style>
        .error{
            color:red;
        }
    </style>
    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
</head>
<% include /header %>
<div class="cont_y" id="investigateArray_page">
    <div id='mb' style="width:62.5%;height:100%;opacity: 0.55;position: absolute;z-index: 1000;background-color:#E7E8EB" hidden></div>
    <div class="dqwz">您当前的位置:信息管理 > 调查管理</div>
    <div class="sstj" style="text-align:left;">
        &nbsp;&nbsp;&nbsp;标题：<input type="text" style="width: 27%;" id="title">
        投票日期：<input id="beginTime" style="width: 11%;" onClick="calendar.show({ id: this })" type="text" readonly="readonly" /> -
        <input id="endTime" style="width: 11%;" onClick="calendar.show({ id: this })" type="text" readonly="readonly" />
        <span id="selectInv" style="text-align:center;width: 7%;margin: 0px 0px 0px 5px;">搜索</span>
        <span id="newInv" style="text-align:center;width: 7%;margin: 0px 0px 0px 5px;">新建</span>
    </div>
    <div>
        <table id="docManage_dataTables" width="100%" border="0" cellspacing="0" cellpadding="7" class="tableBasic">
            <tr>
                <td align="center" style="width: 20%;background-color:#F4F5F9;padding-left:12px;font-weight: bold;">
                    <div class="t" style="text-align: left;">标题</div>
                </td>
                <td align="center" style="width: 10%;background-color:#F4F5F9;padding-left:12px;font-weight: bold;">
                    <div class="t" style="text-align: left;">起始日期</div>
                </td>
                <td align="center" style="width: 10%;background-color:#F4F5F9;padding-left:12px;font-weight: bold;">
                    <div class="t" style="text-align: left;">截止日期</div>
                </td>
                <td align="center" style="background-color:#F4F5F9;padding-left:12px;font-weight: bold;width: 6%;">
                    <div class="t" style="text-align: left;">操作</div>
                </td>
            </tr>
            <tbody id="notice_tbody">
            </tbody>
        </table>
    </div>
    <div class="tzym">
        <ul>
            <li><a href="javascript:void(0);" class="notice_action4">最末页</a></li>
            <li><a href="javascript:void(0);" class="notice_action3">下一页</a></li>
            <li><a href="javascript:void(0);" class="notice_action2">上一页</a></li>
            <li><a href="javascript:void(0);" class="notice_action1">第一页</a></li>
            <li><span id="notice_num"></span>个记录，共 <span id="notice_page">1</span>  页，当前第 <span id="notice_page_show">1</span> 页 | </li>
        </ul>
        <div class="clr"></div>
    </div>

    <div id="qrcz" style="width: 40%;position: absolute;z-index: 1000;top: 50%;left: 38%;" hidden>
        <div style="border: 1px solid #CCC; width: 70%; margin: 0 auto;background-color: #fff;" id="mas">
            <div class="sstj" style="text-align:left;margin: 0 auto;background-color:#4EA5F2;height:40px;line-height:40px;color:#fff;">
                <h5>&nbsp;您确定吗？</h5>
            </div>
            <div class="sstj" div style="text-align:left;margin:10px 0 10px 2%;">
                <span id="reply" style="text-align:center;width: 20%;margin: 0px 10% 0px 23%;">确定</span>
                <span id="return" style="text-align:center;width: 20%;margin: 0px 0px 0px 5px;">取消</span>
            </div>
        </div>
    </div>
    <div id="intQue" style="width: 40%;position: absolute;z-index: 1000;top: 30%;left: 38%;" hidden>
        <div style="border: 1px solid #CCC; width: 70%; margin: 0 auto;background-color: #fff;">
            <div class="sstj" style="text-align:left;margin: 0 auto;background-color:#4EA5F2;height:40px;line-height:40px;color:#fff;">
                <h5>&nbsp;调查信息</h5>
            </div>
            <div class="sstj" div style="text-align:left;margin-left: 6%;">
                <lable>标题：</lable>
                <input id="xq_title" type="text" style="width: 60%" >
                <br><br>
                投票日期：<input id="xq_beginTime" style="width: 24%;" onClick="calendar.show({ id: this })" type="text" readonly="readonly" /> -
                <input id="xq_endTime" style="width: 24%;" onClick="calendar.show({ id: this })" type="text" readonly="readonly"  />

            </div>
            <div class="sstj" div style="text-align:left;margin-left: 6%;">
                <lable>选项A：</lable><input id="optionA" type="text" style="width: 60%"><lable id="Aquantity" >1231</lable>
                <br><br>
                <lable>选项B：</lable><input id="optionB" type="text" style="width: 60%"><lable id="Bquantity" ></lable>
                <br><br>
                <lable>选项C：</lable><input id="optionC" type="text" style="width: 60%"><lable id="Cquantity" ></lable>
                <br><br>
                <lable>选项D：</lable><input id="optionD" type="text" style="width: 60%"><lable id="Dquantity" ></lable>
                <br>
            </div>

            <div class="sstj" div style="text-align:left;margin:30px 0 10px 2%;">
                <span id="sure" style="text-align:center;width: 20%;margin: 0px 5% 0px 23%;">保存</span>
                <span id="close" style="text-align:center;width: 20%;margin: 0px 0 0px 5%;">关闭</span>
            </div>
        </div>
    </div>
</div>
<div class="clr"></div>
</div>
</div>
<% include /footer %>
</body>
</html>
<script type="text/javascript">
    // 导航点击的变化
    $(function(){
        $(".cont_z ul li").click(function(){
            $(".cont_z ul li").each(function(){
                $(".cont_z ul li").removeClass("cur");
            })
            $(this).addClass("cur");
        })

    })
    // 收放导航
    $(function(){
        $(".xxgl").click(function(){
            $(".xxgl_1").slideToggle(500);
            $(".sf").toggleClass("sf_1")
        })
        $(".htgl").click(function(){
            $(".htgl_1").slideToggle(500);
            $(".sf2").toggleClass("sf_2")
        })
    })

</script>
<!--私有js-->
<script src="js/hsajj/investigateArray.js"></script>