<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>宁波润琛阁装饰有限公司</title>
<link href="images/css.css" rel="stylesheet" type="text/css" />
  <link href="css/hDate.css" rel="stylesheet" />
  <script type="text/javascript" src="js/jquery-1.9.0.min.js"></script>
  <script type="text/javascript" src="js/jquery.validate.min.js"></script>
  <script type="text/javascript" src="js/messages_zh.min.js"></script>
  <script type="text/javascript" src="js/hDate.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#commentForm").validate();
    });
  </script>
  <style>
    .tableBasic {
      margin-top: 35px;
      color: #666666;
      border-left: 1px solid #CCCCCC;
      border-top: 1px solid #CCCCCC;
    }
    .tableBasic th {
      background-color:#F4F5F9;
      height: 16px;
    }
    .tableBasic td, .tableBasic th {
      border-right: 1px solid #CCCCCC;
      border-bottom: 1px solid #CCCCCC;
      text-align: center;
      height:40px;
    }
    .tzym{
      margin-top:20px;
      font-size: 16px;
      color: #666666;
    }
    .tzym ul li{
      float:right;
      padding: 5px 10px;
      border:1px solid #ccc;
      border-right:0px solid #ccc;
      cursor:pointer;
    }
    .tzym ul li span{
      color:red;
    }
    .tzym ul li:hover{
      background-color: #3492DA;
      color:#fff;
    }
    .tzym ul li:last-child:hover{
      background-color: #fff;
      color:#666;
    }
    .tzym ul li input{
      width: 25px;
    }
    .tzym ul li:first-child{
      border-right:1px solid #ccc;
      padding: 5px 10px;
    }
  </style>
</head>
<body id="zxlyAns_page">
<center>
<table width="100%" height="30" border="0" align="center" cellpadding="0" cellspacing="0" background="images/top_1.jpg">
  <tr>
    <td width="33" align="center" bgcolor="#522124" class="style_white"><table width="1002"  height="33" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="725" align="left" class="style_white">您好！欢迎访问宁波润琛阁股份有限公司官网！</td>
        <td width="277" align="right">欢迎admin</td>
      </tr>
    </table></td>
  </tr>
</table>
  <table width="100%" height="100" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td><table width="1002" height="100"border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="1046" height="100" align="left" ><a href="index"><img src="images/RCGlogo.png" width="159" height="46" /></a></td>
            <td width="34" height="50" align="right"><a><img src="images/top_zk.jpg" width="34" height="29" border="0" /></a></td>
          </tr>
        </table></td>
    </tr>
  </table>
<table width="100%" height="58" border="0" align="center" cellpadding="0" cellspacing="0" background="images/dh_bg.jpg">
  <tr>
    <td><table width="1002" height="58"  border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="16%" align="center" class="style_dh"><table width="120"height="58"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" bgcolor="#522124" class="style_dh2">留言回复</td>
          </tr>
        </table>
        </td>
        <td width="16%" align="center" class="style_dh"><a href="gsalPo">案例展示</a></td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="1002" align="center" border="0" cellspacing="0" cellpadding="7" class="tableBasic" style=" font-size: 15px;" >
  <tr>
    <td width="10%" align="center" style="background-color:#f9f1f1;font-weight: bold;hight:'15px'" hight="15px">
      <div class="t" style="text-align: center;color:#522124">客户</div>
    </td>
    <td width="10%" align="center" style="background-color:#f9f1f1;font-weight: bold;hight:'15px'" hight="15px">
      <div class="t" style="text-align: center;color:#522124">联系方式</div>
    </td>
    <td width="45%" align="center" style="background-color:#f9f1f1;font-weight: bold;hight:'15px'" hight="15px">
      <div class="t" style="text-align: center;color:#522124">咨询内容</div>
    </td>
    <td width="10%" align="center" style="background-color:#f9f1f1;font-weight: bold;hight:'15px'" hight="15px">
      <div class="t" style="text-align: center;color:#522124">时间</div>
    </td>
    <td width="10%" align="center" style="background-color:#f9f1f1;font-weight: bold;hight:'15px'" hight="15px">
      <div class="t" style="text-align: center;color:#522124">状态</div>
    </td>
    <td width="15%" align="center" style="background-color:#f9f1f1;font-weight: bold;hight:'15px'" hight="15px">
      <div class="t" style="text-align: center;color:#522124">操作</div>
    </td>
  </tr>
  <tbody id="notice_tbody">
  </tbody>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="top" bgcolor="#FFFFFF"><table width="1002" height="30" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <div class="tzym">
          <ul>
            <li style="margin: 0% 15% 0% 0%;"><a href="javascript:void(0);" class="notice_action4">最末页</a></li>
            <li><a href="javascript:void(0);" class="notice_action3">下一页</a></li>
            <li><a href="javascript:void(0);" class="notice_action2">上一页</a></li>
            <li><a href="javascript:void(0);" class="notice_action1">第一页</a></li>
            <li><span id="notice_num"></span>个记录，共 <span id="notice_page">1</span>  页，当前第 <span id="notice_page_show">1</span> 页 | </li>
          </ul>
          <div class="clr"></div>
        </div>
      </tr>
      </table></td>
  </tr>
</table>
</center>
</body>
</html>
<!--私有js-->
<script src="js/brcg/zxlyAns.js"></script>