body {
	margin: 0px;
	text-align:center;
	font-family: "풻";
	font-size: 12px;
	background-color:#fff;
}


/*---------------------퉹훱횇퉣---------------------------*/

.content { font-family: "풕턼환쥌";font-size: 14px;color: #484848;line-height: 26px;}
A:link {color: #5A5859; text-decoration: none}
A:visited {color: #5A5859; text-decoration: none}
A:active {color: #5A5859; text-decoration: none}
A:hover {color: #5A5859; text-decoration: none}

.content12 { font-family: "풕턼환쥌";font-size: 12px;color: #7a7979;line-height: 22px; padding-left:10px;padding-right:10px;}

.style_nr { font-family: "풕턼환쥌";font-size: 12px;color: #3f3f3f;line-height: 22px;}

.style_bt { font-family: "풕턼환쥌";font-size: 20px;color: #000;line-height: 22px;}

.style_bt { font-family: "풕턼환쥌";font-size: 20px;color: #000;line-height: 22px;}

.style_white { font-family: "풕턼환쥌";font-size: 12px;color: #fff;line-height: 26px; }

.style_white14{ font-family: "풕턼환쥌";font-size: 14px;color: #fff;line-height: 26px; }

.style_white16 { font-family: "풕턼환쥌";font-size: 16px;color: #fff;line-height: 26px; }

.style_blue { font-family: "풕턼환쥌";font-size: 14px;color: #2e6baf;line-height: 22px;}


.style_more{
	font-family: Arial;font-size: 12px;color: #8d8d8d;line-height: 26px;
}

.style_dh { font-family: "풕턼환쥌";font-size: 16px;color: #000000;line-height: 30px; }

.style_bot { font-family: "풕턼환쥌";font-size: 14px;color: #323232;line-height: 26px; }

/*---------------------홞廈姃輝---------------------------*/
.style_search{ width:280px; height:28px;font-family: "풕턼환쥌";font-size: 12px;color: #5e5d5e; }

