<div class="cont_y" id="contentList_page">
	<div class="menudiv">
		<div id="con_one_1">
			<div class="con_1_1" id="hd">
				<!--政策文件<span>您现在所在的位置：首页 >> 政策法规</span>-->
			</div>
			<div class="con_1_2" style="height:500px">
				<ul id="notice_tbody">
					<!--<li><a>郑得军副局长讲授“两学一做”专题党课</a><span>2016-07-19</span></li>-->
					<!--<li><a>抓督查 促履职 保落实——宁波市安委办第6督查组对慈溪市和奉化市开展督查工作<span>2016-07-19</span></a></li>-->
					<!--<li><a>宁波市安全生产应急管理中心完成G20护航高危企业安全专项检查行动</a><span>2016-07-19</span></li>-->
					<!--<li><a>杭州市安全生产宣教中心来我局交流安全培训考核工作</a><span>016-07-19</span></li>-->
					<!--<li><a>宁波市“四举措”强化道路运输安全监管全力护航G20</a><span>2016-07-19</span></li>-->
					<!--<li><a>市安监局迅速贯彻市委常委会关于平安护航G20杭州峰会维稳安保工作要求</a><span>2016-07-19</span></li>-->
					<!--<li><a>许清辉巡视员带队赴海曙、江北督查安全生产工作</a><span>2016-07-19</span></li>-->
					<!--<li><a>宁波市安委办督查江东区G20“十大行动”和2016年上半年安全生产工作开展情况</a><span>2016-07-19</span></li>-->
					<!--<li><a>宁波市安监局向社会各界发布安全警示</a><span>2016-07-19</span></li>-->
					<!--<li><a>宁波市以“五明确”保障用人单位基础建设和示范企业创建三年工作方案实施</a><span>2016-07-19</span></li>-->
				</ul>
			</div>
			<div class="con_1_3">
				<ul>
					<li><a href="javascript:void(0);" class="notice_action4">最末页</a></li>
					<li><a href="javascript:void(0);" class="notice_action3">下一页</a></li>
					<li><a href="javascript:void(0);" class="notice_action2">上一页</a></li>
					<li><a href="javascript:void(0);" class="notice_action1">第一页</a></li>
					<li><span id="notice_num">0</span>  个记录，共 <span id="notice_page">1</span>  页，当前第 <span id="notice_page_show">1</span> 页 |
				</ul>
			</div>
		</div>
		<div id="con_one_2" style="display:none;">
		</div>

		<div id="con_one_3" style="display:none;">
		</div>
		<div id="con_one_4" style="display:none;">tab标签</div>
		<div id="con_one_5" style="display:none;">tab标签</div>
	</div>
</div>

<!--私有js-->
<script src="js/FrontPage/contentList.js"></script>