<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <meta charset="UTF-8">
    <title>海曙安全生产监督管理局</title>
    <link rel="stylesheet" type="text/css" href="css/q_index.css">
    <script type="text/javascript" src="js/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="js/messages_zh.min.js"></script>
    <script type="text/javascript" src="js/xxk.js"></script>
    <script type="text/javascript" src="js/hDate.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#commentForm").validate();
        });
    </script>
    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
</head>
<body>
<% include /FrontPage/q_header %>
<div id="globalQuery_page">
    <div style="width:1000px;height:25px;z-index:100;background-color:white;margin:25px auto 0;">
        <p style="color:#0c73cf;font-weight: 800;">首页 > 全站搜索</p>
        <input type="text" id="seq_no" value="<%=title%>" hidden>
    </div>
    <div id='articleInfo' style="width:1000px;height:15px;background-color:#F9F9F9;margin:0 auto;padding: 20px">
        标题关键字：<input type="text" style="width: 27%;" id="title"  value="<%=title%>">
        发布日期：<input id="pubDate_s" style="width: 11%;" onClick="calendar.show({ id: this })" type="text" /> -
        <input id="pubDate_e" style="width: 11%;" onClick="calendar.show({ id: this })" type="text" />
        <div class="ssk">
        <span id="selectDoc" style="text-align:center;width: 30px;margin: -5px 32px 0px 5px;">搜索</span>
            </div>
    </div>
    <div style="width:1000px;min-height:100px;margin:0 auto;padding: 20px;margin-bottom: 90px;">
        <div class="con_1_2" style="height:465px;margin-top: -20px;">
            <ul id="notice_tbody">

            </ul>
        </div>
        <div class="con_1_3">
            <ul>
                <li><a href="javascript:void(0);" class="notice_action4">最末页</a></li>
                <li><a href="javascript:void(0);" class="notice_action3">下一页</a></li>
                <li><a href="javascript:void(0);" class="notice_action2">上一页</a></li>
                <li><a href="javascript:void(0);" class="notice_action1">第一页</a></li>
                <li><span id="notice_num">0</span>  个记录，共 <span id="notice_page">1</span>  页，当前第 <span id="notice_page_show">1</span> 页 |
            </ul>
        </div>
    </div>
</div>
<!--<div style="width: 1080px;height: 800px;background-color: #006698">-->
    <!---->
<!--</div>-->
<% include /FrontPage/q_footer %>
</body>
</html>
<script type="text/javascript">
    // 导航点击的变化
    $(function(){
        $(".cont_z ul li").click(function(){
            $(".cont_z ul li").each(function(){
                $(".cont_z ul li").removeClass("cur_1");
            })
            $(this).addClass("cur_1");
        })

    })
    // 收放导航
    $(function(){
        $(".xxgl").click(function(){
            $(".xxgl_1").slideToggle(500);
            $(".sf").toggleClass("sf_1")
        })
        $(".htgl").click(function(){
            $(".htgl_1").slideToggle(500);
            $(".sf2").toggleClass("sf_2")
        })
    })



</script>

<!--私有js-->
<script src="js/FrontPage/globalQuery.js"></script>