<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>宁波润琛阁装饰有限公司</title>
  <link href="images/css.css" rel="stylesheet" type="text/css" />
  <link href="css/hDate.css" rel="stylesheet" />
  <script type="text/javascript" src="js/jquery-1.9.0.min.js"></script>
  <script type="text/javascript" src="js/jquery.validate.min.js"></script>
  <script type="text/javascript" src="js/messages_zh.min.js"></script>
  <script type="text/javascript" src="js/hDate.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#commentForm").validate();
    });
  </script>
  <style>
    #nav{ background-color: rgba(255, 255, 255, 0);}
    #nav ul{ margin:0 auto; padding:0; list-style:none;background-color: rgba(255, 255, 255, 0); }
    #nav ul li{ float:center; position:relative;}
    #nav ul li a{ width:100px; line-height:25px; display:block; background-color: rgba(255, 255, 0, 0); color: #000000; text-decoration:none;}
    #nav ul li a:hover{ background-color: #522124; color:#FFFFFF;}
    #nav ul li span{display:none;position:absolute; left:37px; top:25px; background-color: rgb(246, 246, 246);}

    .tableBasic {
      margin-top: 35px;
      color: #666666;
      border-left: 1px solid #CCCCCC;
      border-top: 1px solid #CCCCCC;
    }
    .tableBasic th {
      background-color:#F4F5F9;
      height: 16px;
    }
    .tableBasic td, .tableBasic th {
      border-right: 1px solid #CCCCCC;
      border-bottom: 1px solid #CCCCCC;
      text-align: center;
      height:40px;
    }
    .tzym{
      margin-top:20px;
      font-size: 16px;
      color: #666666;
    }
    .tzym ul li{
      float:right;
      padding: 5px 10px;
      border:1px solid #ccc;
      border-right:0px solid #ccc;
      cursor:pointer;
    }
    .tzym ul li span{
      color:red;
    }
    .tzym ul li:hover{
      background-color: #3492DA;
      color:#fff;
    }
    .tzym ul li:last-child:hover{
      background-color: #fff;
      color:#666;
    }
    .tzym ul li input{
      width: 25px;
    }
    .tzym ul li:first-child{
      border-right:1px solid #ccc;
      padding: 5px 10px;
    }
  </style>
<body id="gsal_page">
<center>
  <table width="100%" height="30" border="0" align="center" cellpadding="0" cellspacing="0" background="images/top_1.jpg">
    <tr>
      <td width="33" align="left" bgcolor="#522124" class="style_white"><table width="1002"  height="33" border="0" align="center" cellpadding="0" cellspacing="0">
          <td width="725" align="left" class="style_white">您好！欢迎访问宁波润琛阁股份有限公司官网！</td>
          <td width="277" align="right">
            <a style="color: white" href="javascript:void(0)" onclick="shoucang(document.title,window.location)">收藏本站</a> |
            <a href="zxly" style="color: white">在线留言</a> |
            <a href="lxwm" style="color: white">联系我们</a>
          </td>
        </table></td>
    </tr>
  </table>
  <table width="100%" height="100" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td><table width="1002" height="100"border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="1046" height="100" align="left" ><a href="index"><img src="images/RCGlogo.png" width="159" height="46" /></a></td>
            <td width="34" height="50" align="right"><a><img src="images/top_zk.jpg" width="34" height="29" border="0" /></a></td>
          </tr>
        </table></td>
    </tr>
  </table>
  <table width="100%" height="58" border="0" align="center" cellpadding="0" cellspacing="0" background="images/dh_bg.jpg" style="font-weight: bold;">
    <tr>
      <td><table width="1002" height="58"  border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="16%" align="center" class="style_dh"><a href="index">网站首页</a></td>
            <td width="16%" align="center" class="style_dh"><a href="gywn">集团简介</a></td>
            <td width="16%" align="center" class="style_dh"><a href="gswh">集团文化</a></td>
            <td width="16%" align="center" class="style_dh"><div id="nav">
                <ul>
                  <li onMouseOver="showElement('menu1')" onMouseOut="hideElement('menu1')"><a style="font-weight: bold;height:58px;line-height: 58px;width: 120px;">集团案例</a>
                      <span id="menu1" style="margin: 32px auto;z-index: 1000">
                        <a href="gsal" style="font-weight: bold;">市政工程</a>
                        <a href="#" style="font-weight: bold;">墙体工程</a>
                        <a href="#" style="font-weight: bold;">园林工程</a>
                      </span>
                </ul>
                </li>
              </div>
            </td>
            <td width="16%" align="center" class="style_dh"><a href="lxwm">联系我们</a></td>
            <td width="12%" align="right" class="style_dh"><a href="bzzx">帮助中心</a></td>
          </tr>
        </table></td>
    </tr>
  </table>
  <table width="100%" height="271" border="0" align="center" cellpadding="0" cellspacing="0" class="banener2" >
    <tr>
      <td>&nbsp;</td>
    </tr>
  </table>
  <table width="100%" height="100"  border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="left" valign="top" bgcolor="#FFFFFF"><table width="1002" height="208" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="50%" height="50">&nbsp;</td>
          </tr>
          <tr>
            <td height="58" align="center"><a href="#"><img src="images/gsal_lm.jpg" width="213" height="94" border="0" /></a></td>
          </tr>
          <tr>
            <td height="50">&nbsp;</td>
          </tr>
          <tr></tr>
        </table>
        <!--        <table width="1002" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="33%" height="310">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td align="center"><img src="images/pic.jpg" width="318" height="237" /></td>
                        </tr>
                        <tr>
                          <td height="50" align="center" class="content">中央学府-300M<sup>2</sup>-欧式风格</td>
                        </tr>
                      </table>
                    </td>
                    <td width="33%">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td align="center"><img src="images/pic.jpg" width="318" height="237" /></td>
                        </tr>
                        <tr>
                          <td height="50" align="center" class="content">中央学府-300M<sup>2</sup>-欧式风格</td>
                        </tr>
                      </table>
                    </td>
                    <td width="33%">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td align="center"><img src="images/pic.jpg" width="318" height="237" /></td>
                        </tr>
                        <tr>
                          <td height="50" align="center" class="content">中央学府-300M<sup>2</sup>-欧式风格</td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>-->
        <table width="1002" border="0" cellspacing="0" cellpadding="0" align="center">
          <tr>
            <td>
              <div id="notice_tbody" font size="10">
              </div>
            </td>
          </tr>
        </table>
      </td>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center" valign="top" bgcolor="#FFFFFF"><table width="1002" height="30" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <div class="tzym">
                  <ul>
                    <li style="margin: 0% 15% 0% 0%;"><a href="javascript:void(0);" class="notice_action4">最末页</a></li>
                    <li><a href="javascript:void(0);" class="notice_action3">下一页</a></li>
                    <li><a href="javascript:void(0);" class="notice_action2">上一页</a></li>
                    <li><a href="javascript:void(0);" class="notice_action1">第一页</a></li>
                    <li><span id="notice_num"></span>个记录，共 <span id="notice_page">1</span>  页，当前第 <span id="notice_page_show">1</span> 页 | </li>
                  </ul>
                  <div class="clr"></div>
                </div>
              </tr>
            </table></td>
        </tr>
      </table>
    </tr>
    <table width="100%" height="250" border="0" cellspacing="0" cellpadding="0" background="images/bot.jpg">
      <tr>
        <td align="center" bgcolor="#262626" class="style_bot"><table width="1002" height="250" border="0" cellspacing="0" cellpadding="0" >
            <tr>
              <td height="70" colspan="2"><table width="100%" height="35" border="0" cellspacing="0" cellpadding="0"style="BORDER: #fff 1px solid">
                  <tr>
                    <td align="center" class="style_dh2">
                      <a href="index" style="color: white">网站首页</a>&nbsp;&nbsp;&nbsp;
                      <a href="gywn" style="color: white">集团简介</a>&nbsp;&nbsp;&nbsp;
                      <a href="gswh" style="color: white">集团文化</a>&nbsp;&nbsp;&nbsp;
                      <a href="gsal" style="color: white">集团案例</a>&nbsp;&nbsp;&nbsp;
                      <a href="lxwm" style="color: white">联系我们</a>&nbsp;&nbsp;&nbsp;
                      <a href="bzzx" style="color: white">帮助中心</a>
                    </td>
                  </tr>
                </table></td>
            </tr>
            <tr>
              <td width="754" align="left" valign="top"><img src="images/lxwm.png" width="380" height="125" /></td>
              <td height="80" align="left" valign="top" class="style_dh2" style="padding: 59px 0px 0px 14px;">Copyright &copy; 2016 All Rights Reserved <br />
                波润琛阁装饰有限公司  版权所有</td>
            </tr>
          </table></td>
      </tr>
    </table>
</center>
</body>
<div id="intMa" style="width: 80%;position: absolute;z-index: 1000;top: 100%;left:9%" hidden>
  <div style="border: 5px solid #522124; width: 100%;height: 500px;; margin: 0 auto;background-color: #fff;" id="mas">
    <div style="margin: 10px 0px 0px 10px;"><img src="upload/c98b1ce0-8392-11e6-b7b2-85949003303e.JPG" width="600" height="480" align="left"></div>
    <div class="sstj" div style="text-align:left;margin-left: 6%;margin-top:4%" >
      <div><button id="shurt" style="border:0;width: 80px;height: 40px;background-color: #522124;font-size: 22px;color: white;position:absolute; right:-5px; top:0px;cursor:pointer" >关闭</button></div>
      <lable id="nameLab" style="margin: 57px 62px 82px 50px;font-size: 26px;font-weight:bold;"></lable>
      <lable id="xq_nickname" type="text" style="width: 30%" ></lable>
      <br/>
      <lable style="margin: 57px 62px 82px 50px;font-size: 14px;">&nbsp;</lable>
      <br/>
      <lable style="margin: 57px 62px 82px 50px;font-size: 18px;color:#999999">案例所属：</lable>
      <lable id="xq_accounts" type="text" style="width: 30%" ></lable>
      <br/>
      <lable style="margin: 57px 62px 82px 50px;font-size: 14px;">&nbsp;</lable>
      <br/>
      <lable style="margin: 57px 62px 82px 50px;font-size: 18px;color:#999999">详细介绍：</lable>
      <lable id="xq_password" type="text" style="width: 30%" ></lable>
    </div>
  </div>
</div>
</html>
<script>
  function shoucang(sTitle,sURL)
  {
    try
    {
      window.external.addFavorite(sURL, sTitle);
    }
    catch (e)
    {
      try
      {
        window.sidebar.addPanel(sTitle, sURL, "");
      }
      catch (e)
      {
        alert("加入收藏失败，请使用Ctrl+D进行添加");
      }
    }
  }
  function showElement(elementId)
  {
    document.getElementById(elementId).style.display="block";
  }
  function hideElement(elementId)
  {
    document.getElementById(elementId).style.display="none";
  }
</script>

<!--私有js-->
<script src="js/brcg/gsal.js"></script>