<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>宁波润琛阁装饰有限公司</title>
  <link href="images/css.css" rel="stylesheet" type="text/css" />
  <style type="text/css">
    #nav{ background-color: rgba(255, 255, 255, 0);}
    #nav ul{ margin:0 auto; padding:0; list-style:none;background-color: rgba(255, 255, 255, 0); }
    #nav ul li{ float:center; position:relative;}
    #nav ul li a{ width:100px; line-height:25px; display:block; background-color: rgba(255, 255, 0, 0); color: #000000; text-decoration:none;}
    #nav ul li a:hover{ background-color: #522124; color:#FFFFFF;}
    #nav ul li span{display:none;position:absolute; left:37px; top:25px; background-color: rgb(246, 246, 246);}
  </style>
</head>
<body>
<center>
  <table width="100%" height="30" border="0" align="center" cellpadding="0" cellspacing="0" background="images/top_1.jpg">
    <tr>
      <td width="33" align="left" bgcolor="#522124" class="style_white"><table width="1002"  height="33" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="725" align="left" class="style_white">您好！欢迎访问宁波润琛阁股份有限公司官网！</td>
            <td width="277" align="right">
              <a style="color: white" href="javascript:void(0)" onclick="shoucang(document.title,window.location)">收藏本站</a> |
              <a href="zxly" style="color: white">在线留言</a> |
              <a href="lxwm" style="color: white">联系我们</a>
            </td>
          </tr>
        </table></td>
    </tr>
  </table>
  <table width="100%" height="100" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td><table width="1002" height="100"border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="1046" height="100" align="left" ><a href="index"><img src="images/RCGlogo.png" width="159" height="46" /></a></td>
            <td width="34" height="50" align="right"><a><img src="images/top_zk.jpg" width="34" height="29" border="0" /></a></td>
          </tr>
        </table></td>
    </tr>
  </table>
  <table width="100%" height="58" border="0" align="center" cellpadding="0" cellspacing="0" background="images/dh_bg.jpg" style="font-weight: bold;">
    <tr>
      <td><table width="1002" height="58"  border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="16%" align="center" class="style_dh"><a href="index">网站首页</a></td>
            <td width="16%" align="center" class="style_dh"><table width="120"height="58"  border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="center" bgcolor="#522124" class="style_dh2">集团简介 </td>
                </tr>
              </table></td>
            <td width="16%" align="center" class="style_dh"><a href="gswh">集团文化</a></td>
            <td width="16%" align="center" class="style_dh"><div id="nav">
                <ul>
                  <li onMouseOver="showElement('menu1')" onMouseOut="hideElement('menu1')"><a style="font-weight: bold;height:58px;line-height: 58px;width: 120px;">集团案例</a>
                      <span id="menu1" style="margin: 32px auto;z-index: 1000">
                        <a href="gsal" style="font-weight: bold;">市政工程</a>
                        <a href="qtgc" style="font-weight: bold;">墙体工程</a>
                        <a href="ylgc" style="font-weight: bold;">园林工程</a>
                      </span>
                </ul>
                </li>
              </div></td>
            <td width="16%" align="center" class="style_dh"><a href="lxwm">联系我们</a></td>
            <td width="12%" align="right" class="style_dh"><a href="bzzx">帮助中心</a></td>
          </tr>
        </table></td>
    </tr>
  </table>
  <table width="100%" height="271" border="0" align="center" cellpadding="0" cellspacing="0" class="banener2" >
    <tr>
      <td>&nbsp;</td>
    </tr>
  </table>
  <table width="100%" height="1140"  border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="left" valign="top" bgcolor="#FFFFFF"><table width="1002" height="308" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="50%" height="50">&nbsp;</td>
          </tr>
          <tr>
            <td height="58" align="center"><a href="#"><img src="images/gsjj_lm.jpg" width="213" height="94" border="0" /></a></td>
          </tr>
          <tr>
            <td height="50">&nbsp;</td>
          </tr>
          <tr>
            <td height="50"><img src="images/gsjj_tp.jpg" width="1002" height="420" /></td>
          </tr>
          <tr>
            <td height="50">&nbsp;</td>
          </tr>
          <tr>
            <td height="50" class="style_hui">　　<span class="style_or">润琛阁股份有限公司</span>，是一家集设计、施工、服务于一体的大型装饰公司，专业从事家庭、办公室、园林绿化设计，商场、店铺、酒店、宾馆以及市政工程等装饰设计、施工。公司办公楼面积2500平方米。座拥3000m2实体体验中心，拥有近百家材料商战略合作伙伴。本公司以&ldquo;为人类创造环保健康的绿色家园&rdquo;为宗旨，采用绿色环保、安装便捷、防潮阻燃、防腐防虫、不开裂、可回收及免油漆的高端科技新型环保材料，推崇&ldquo;人与自然和谐、家与生活佳美&rdquo;的设计风格，用匠心颠覆传统的装修。从此让您告别有害装修的烦恼，告别漫长工期，享受私人定制、时尚装修、奢华简约、百搭百变的绿色生活空间。<br />
              　　<span class="style_or">润琛阁股份有限公司</span>，给您一个美丽健康的家！<br />
              　　公司经营理念：绿色环保、健康时尚<br />
              　　公司宗旨：人与自然和谐、家与生活佳美<br />
              　　公司精神：团结、高效、开放、共赢</td>
          </tr>
        </table></td>
    </tr>
  </table>
  <table width="100%" height="250" border="0" cellspacing="0" cellpadding="0" background="images/bot.jpg">
    <tr>
      <td align="center" bgcolor="#262626" class="style_bot"><table width="1002" height="250" border="0" cellspacing="0" cellpadding="0" >
          <tr>
            <td height="70" colspan="2"><table width="100%" height="35" border="0" cellspacing="0" cellpadding="0"style="BORDER: #fff 1px solid">
                <tr>
                  <td align="center" class="style_dh2">
                    <a href="index" style="color: white">网站首页</a>&nbsp;&nbsp;&nbsp;
                    <a href="gywn" style="color: white">集团简介</a>&nbsp;&nbsp;&nbsp;
                    <a href="gswh" style="color: white">集团文化</a>&nbsp;&nbsp;&nbsp;
                    <a href="gsal" style="color: white">集团案例</a>&nbsp;&nbsp;&nbsp;
                    <a href="lxwm" style="color: white">联系我们</a>&nbsp;&nbsp;&nbsp;
                    <a href="bzzx" style="color: white">帮助中心</a>
                  </td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td width="754" align="left" valign="top"><img src="images/lxwm.png" width="380" height="125" /></td>
            <td height="80" align="left" valign="top" class="style_dh2" style="padding: 59px 0px 0px 14px;">Copyright &copy; 2016 All Rights Reserved <br />
              波润琛阁装饰有限公司  版权所有</td>
          </tr>
        </table></td>
    </tr>
  </table>
</center>
</body>
</html>
<script>
  function shoucang(sTitle,sURL)
  {
    try
    {
      window.external.addFavorite(sURL, sTitle);
    }
    catch (e)
    {
      try
      {
        window.sidebar.addPanel(sTitle, sURL, "");
      }
      catch (e)
      {
        alert("加入收藏失败，请使用Ctrl+D进行添加");
      }
    }
  }
  function showElement(elementId)
  {
    document.getElementById(elementId).style.display="block";
  }
  function hideElement(elementId)
  {
    document.getElementById(elementId).style.display="none";
  }
</script>