<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>宁波润琛阁装饰有限公司</title>
    <link href="css/style.css" rel="stylesheet"/>

</head>

<body>
<div id="header">
    <div style="padding: 10px;">
        <a href="#" style="margin-left: 120px;">您好，欢迎访问宁波润琛阁装饰有限公司官网！</a>
    </div>

    <div id="links" style="margin-right: 100px;margin-top: -25px;">
        <a href="#">收藏本站</a>
        <a href="#">在线留言</a>
        <a href="#">联系我们</a>
        <a href="#">网站地图</a>
    </div>
    <div id="men">
        <a href="#" id="logo" style="margin-left: 100px;"><img src="images/logo.jpg"></a>
        <div id="nav">
            <a href="#" id="nave" style="margin-right: 90px;"><img src="images/nav.jpg"></a>
        </div>
    <div id="navmenu">
        <nav id="menu">
            <ul>
                <li class="active"><a href="#">网站首页</a></li>
                <li><a href="#">公司简介</a></li>
                <li><a href="#">公司文化</a></li>
                <li><a href="#">公司案例</a></li>
                <li><a href="#">联系我们</a></li>
                <li><a href="#">帮助中心</a></li>
            </ul>
        </nav>
    </div>
</div>
    <div id="show">
        <div class="container" >
            <div id="slides">
                <img src="images/show.jpg">
                <img src="images/show.jpg">
                <img src="images/show.jpg">
            </div>
        </div>
        <div id="subject" style="text-align: center;height: 1100px;">
            </br></br></br>
            <div style="border:1px solid #562427;width: 15%;margin-left:45%;padding-bottom:20px;padding-top: 10px;">
                <a href="#" style="color: #562427;font-size: 20px;font-weight: 600;border-bottom: 1px solid #562427;">公司简介</a></br>
                <a href="#" style="color: #562427;font-size: 20px;font-weight: 600;">ABOUT US</a></br>
            </div>
            <div style="width: 9%;margin-left:48%;margin-top: -10px;background-color: white;">
                <a href="#" style="font-size: 14px;color: #562427">&nbsp;</a>
            </div>
            </br></br></br></br>
            <div style="width: 50%;text-align: left;margin-left: 300px;">
                <a href="#" ><img src="images/gywn1.jpg"></a>
                <a href="#" ><img src="images/gywn2.jpg"></a>
                <a href="#" ><img src="images/gywn4.jpg"></a>
                <a href="#" ><img src="images/gywn5.jpg"></a>
            </div>
             <div style="width:100%;;float: right;margin-top: -360px;margin-right: -300px;"><a href="#" ><img src="images/gywn3.jpg"></a></div></br></br></br>
            <div style="width: 60%;margin-left: 300px;    line-height: 30px;">
            <a style="color:#562427;font-weight: 600; ">&nbsp;&nbsp;波润琛阁装饰有限公司，</a>
            <a>成立于1993年，注册资金300万元人民币 ，是一家专业从事工业与民用建筑装饰施工、设计的企业。公司经营范围：各种涂料施工、居家、写字楼、店铺装饰、酒店、商场、娱乐城、别墅、防水工程、水电空调设备安装工程、及各种设计多年来，业绩非凡。所承接并完成的各类大、中、小型工程均受到了业主的一致好评，在装饰市场赢得良好的信誉，在业界享有较高的知名度。公司拥有400平方米办公空间，硬件配套设施齐全，具有现代化的工作环境及条件。公司体制完整、部门齐全，对工程的设计、施工及后期服务有一套成熟有效的管理制度和严格科学的质量保障体系。工程部、材料部、质检部、加工厂和综合服务部等多个部门在工程施工中的多极化管理，有效的保证了工程的进度和质量要求。长达两年的质量保修期，不仅仅是一个承诺，更代表了****人的无比自信和对业主的无限真诚。</a>
            </div>
            <div style="color:#562427;margin-left: 300px;text-align: left;"></br></br>
                <a style="font-size: 16px; font-weight:600;">波润琛阁装饰有限公司，给您一个健康美丽的家！</a></br></br>
                <a >公司经营理念：绿色环保、健康时尚</a></br></br>
                <a >公司宗旨：人与自然和谐、家与生活佳美</a></br></br>
                <a >公司精神：团结、高效、开放、共赢</a></br></br>
            </div></div>
        <div id="ending">
            <nav id="endmenu"></br></br>
                <div style="height: 40px;width: 80%;margin-left: 10%;border:1px solid white">
                    </br>
                    <ul>
                        <li><a href="#" style="margin-left: 50px;">网站首页</a></li>
                        <li><a href="#">公司简介</a></li>
                        <li><a href="#">公司文化</a></li>
                        <li><a href="#">公司案例</a></li>
                        <li><a href="#">联系我们</a></li>
                        <li><a href="#">帮助中心</a></li>
                    </ul>
                </div>

            </nav></br></br></br>
            <div id="phone" style="margin-left: 110px" >
                <a href="#"style="font-size: 30px">联系我们</a></br></br>
                <a href="#"><img src="images/phone.jpg"></a>
                <a href="#"  style="font-size: 40px;font-weight: 600;">0574-1234567</a></br>
                <a href="#">&nbsp&nbsp&nbsp&nbsp周一至周日：9：00-21：00</a></br></br>
                <a href="#">Copyright @ 2016 All Rights Reserved</a></br>
                <a href="#">宁波润琛阁装饰有限公司</a>
                <a href="#">版权所有</a></br></br></br>
                <div id="weixin"><a href="#" ><img src="images/weixin.jpg"></a></br></br>
                    <a href="#" style="font-weight: 600;">&nbsp扫描关注微信公众号</a></br>
             </div>
         </div>
     </div>
        </div>
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/jquery.slides.min.js"></script>
    <script>
        $(function() {
            $('#slides').slidesjs({
                width: 940,
                height: 320,
                play: {
                    active: true,
                    auto: true,
                    interval: 2000,
                    swap: true
                }
            });
        });
    </script>

</body>
</html>