
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>安监局</title>
    <link href="css/home.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/jquery-1.9.0.min.js"></script>
</head>
<body>
<center>
    <table width="100%" height="33" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td width="33" align="left" bgcolor="#4ea5f2" class="style_white"><table width="1080"  height="33" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="1024" align="left">国家安全生产监督管理总局　浙江省安全生产监督管理局　宁波市安全生产监督管理局</td>
                        <td width="176" align="right"><table width="110" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>登录</td>
                                    <td><img src="images/tb_1.jpg" width="14" height="12" /></td>
                                    <td><img src="images/tb_2.jpg" width="14" height="12" /></td>
                                    <td><img src="images/tb_3.jpg" width="14" height="12" /></td>
                                </tr>
                            </table></td>
                    </tr>
                </table></td>
        </tr>
    </table>
    <table width="100%" height="1" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td bgcolor="#3491df"></td>
        </tr>
    </table>
    <table width="100%" height="149" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td valign="bottom" bgcolor="#4EA5F2"><table width="1080" height="135"border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="928" height="105" rowspan="2" align="left"><img src="images/logo.jpg" width="489" height="83" /></td>
                        <td width="272" height="50" align="right"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="65%" align="right"><input name="textfield" type="text" class="style_search" id="textfield" /></td>
                                    <td width="35%" align="right"><img src="images/sousuo.jpg" width="96" height="33" id="se_button"/></td>
                                </tr>
                            </table></td>
                    </tr>
                    <tr>
                        <td height="25" align="right" valign="top" class="style_white">举报投诉　<span class="style_white16">0574-12350</span></td>
                    </tr>
                    <tr>
                        <td height="31" colspan="2" valign="bottom"><table width="100%"  height="41" border="0" cellspacing="0" cellpadding="0">
                                <tr class="style_dh">
                                    <td width="9%" align="center" valign="bottom" bgcolor="#ebe9ea"><a style="margin: 0px 0px 0px -20px;" href="/home">首页</a> </td>
                                    <td width="9%" align="center" valign="bottom" bgcolor="#ebe9ea"><a style="margin: 0px 0px 0px -20px;" href="/menu?flMenu=1">政府信息公开</a></td>
                                    <td width="9%" align="center" valign="bottom" bgcolor="#ebe9ea"><a style="margin: 0px 0px 0px -20px;" href="/menu?flMenu=2">机构概况</a></td>
                                    <td width="9%" align="center" valign="bottom" bgcolor="#ebe9ea"><a style="margin: 0px 0px 0px -20px;" href="/menu?flMenu=3">政策法规</a></td>
                                    <td width="9%" align="center" valign="bottom" bgcolor="#ebe9ea"> <a style="margin: 0px 0px 0px -20px;" href="/menu?flMenu=4">安监政务</a></td>
                                    <td width="9%" align="center" valign="bottom" bgcolor="#ebe9ea"><a style="margin: 0px 0px 0px -20px;" href="/menu?flMenu=5">安监动态</a></td>
                                    <td width="9%" align="center" valign="bottom" bgcolor="#ebe9ea"><a style="margin: 0px 0px 0px -20px;" href="/menu?flMenu=6">科室专栏</a></td>
                                    <td width="9%" align="center" valign="bottom" bgcolor="#ebe9ea"><a style="margin: 0px 0px 0px -20px;" href="/menu?flMenu=7">专题专栏</a></td>
                                    <td width="9%" align="center" valign="bottom" bgcolor="#ebe9ea"><a style="margin: 0px 0px 0px -20px;" href="/menu?flMenu=8">服务大厅</a> </td>
                                    <td width="9%" align="center" valign="bottom" bgcolor="#ebe9ea"><a style="margin: 0px 0px 0px -20px;" href="/menu?flMenu=9">互动交流</a> </td>
                                    <td width="9%" align="center" valign="bottom" bgcolor="#ebe9ea"><a style="margin: 0px 0px 0px -20px;" href="/menu?flMenu=10">在线学堂</a> </td>
                                </tr>
                            </table></td>
                    </tr>
                </table></td>
        </tr>
    </table>
    <table width="1080" height="9" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#EBE9EA">
    </table>
    <table width="1080"  border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td height="30" colspan="2" align="left" valign="top">&nbsp;</td>
        </tr>
        <tr>
            <td width="920" align="left" valign="top"><table width="100%"  height="301" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="408" align="left" valign="top"><img src="images/pic.jpg" width="390" height="301" /></td>
                        <td align="left" valign="top"><table width="373" height="301" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="right" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="left"><table width="78" height="26" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td align="center" bgcolor="#0c73cf" class="style_white14">安全要闻</td>
                                                        </tr>
                                                    </table></td>
                                                <td align="right" class="style_more">MORE&gt;&gt;</td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="2" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td bgcolor="#0c73cf"></td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="37" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="left" class="content">海曙区2016年春节期间安全生产形式平稳</td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="55" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="left" bgcolor="#f0f0f0" class="content12">经过一个多月的精心策划和准备，中国烟花爆竹协会一届二次会员代表大会次会员代表大会次会员代表大会</td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="37" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="left" class="content">海曙区2016年春节期间安全生产形式平稳</td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="55" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td bgcolor="#f0f0f0" class="content12">经过一个多月的精心策划和准备，中国烟花爆竹协会一届二次会员代表大会次会员代表大会次会员代表大会</td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="37" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="left" class="content">海曙区2016年春节期间安全生产形式平稳</td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="55" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="left" bgcolor="#f0f0f0" class="content12">经过一个多月的精心策划和准备，中国烟花爆竹协会一届二次会员代表大会次会员代表大会次会员代表大会</td>
                                            </tr>
                                        </table></td>
                                </tr>
                            </table></td>
                    </tr>
                </table>
                <table width="100%"  height="18"border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td></td>
                    </tr>
                </table>
                <table width="100%"  height="196" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="408" align="left" valign="top"><table width="390" height="180" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="right" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="22%" align="left"><table width="78" height="26" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td align="center" bgcolor="#0c73cf" class="style_white14">综合监管</td>
                                                        </tr>
                                                    </table></td>
                                                <td width="65%" align="left" class="content">危险化学品　非煤矿山　烟花爆竹</td>
                                                <td width="13%" align="right" class="style_more">MORE&gt;&gt;</td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="2" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td bgcolor="#0c73cf"></td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="8" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td></td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="78%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="18%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="78%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="18%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="78%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="18%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="78%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="18%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="78%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="18%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="78%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="18%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table></td>
                                </tr>
                            </table></td>
                        <td align="left" valign="top"><table width="373" height="180" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="right" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="22%" align="left"><table width="78" height="26" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td align="center" bgcolor="#0c73cf" class="style_white14">信息动态</td>
                                                        </tr>
                                                    </table></td>
                                                <td width="65%" align="left" class="content">&nbsp;</td>
                                                <td width="13%" align="right" class="style_more">MORE&gt;&gt;</td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="2" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td bgcolor="#0c73cf"></td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="8" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td></td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="78%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="18%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="78%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="18%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="78%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="18%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="78%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="18%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="78%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="18%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="78%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="18%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table></td>
                                </tr>
                            </table></td>
                    </tr>
                </table>
                <table width="100%"  height="20" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                </table>
                <table width="100%"  height="38" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="left" class="style_bt">安全专区</td>
                    </tr>
                </table>
                <table width="98%" height="2" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td bgcolor="#bfbeba"></td>
                    </tr>
                </table>
                <table width="100%"  height="196" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="50%" align="left" valign="top"><table width="100%" height="6" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="left"></td>
                                </tr>
                            </table>
                            <table width="380" height="213" border="0" cellspacing="0" cellpadding="0"  style="BORDER: #e2e2e2 1px solid">
                                <tr>
                                    <td align="center" valign="top"><table width="100%" height="8" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td><img src="images/aqsp.jpg" width="380" height="101" /></td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="6" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="left"></td>
                                            </tr>
                                        </table>
                                        <table width="96%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="73%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="23%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table>
                                        <table width="96%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="73%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="23%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table>
                                        <table width="96%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="73%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="23%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table>
                                        <table width="96%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="73%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="23%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table></td>
                                </tr>
                            </table></td>
                        <td width="50%" align="left" valign="top"><table width="100%" height="6" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="left"></td>
                                </tr>
                            </table>
                            <table width="380" height="213" border="0" cellspacing="0" cellpadding="0"  style="BORDER: #e2e2e2 1px solid">
                                <tr>
                                    <td align="center" valign="top"><table width="100%" height="8" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td><img src="images/aqyw.jpg" width="380" height="101" /></td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="6" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="left"></td>
                                            </tr>
                                        </table>
                                        <table width="96%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="73%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="23%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table>
                                        <table width="96%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="73%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="23%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table>
                                        <table width="96%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="73%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="23%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table>
                                        <table width="96%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="73%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="23%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table></td>
                                </tr>
                            </table></td>
                    </tr>
                </table>
                <table width="100%"  height="196" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="50%" align="left" valign="top"><table width="100%" height="10" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="left"></td>
                                </tr>
                            </table>
                            <table width="380" height="213" border="0" cellspacing="0" cellpadding="0"  style="BORDER: #e2e2e2 1px solid">
                                <tr>
                                    <td align="center" valign="top"><table width="100%" height="8" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td><img src="images/aqpx.jpg" width="380" height="101" /></td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="6" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="left"></td>
                                            </tr>
                                        </table>
                                        <table width="96%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="73%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="23%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table>
                                        <table width="96%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="73%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="23%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table>
                                        <table width="96%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="73%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="23%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table>
                                        <table width="96%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="73%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="23%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table></td>
                                </tr>
                            </table></td>
                        <td align="left" valign="top"><table width="100%" height="10" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="left"></td>
                                </tr>
                            </table>
                            <table width="380" height="213" border="0" cellspacing="0" cellpadding="0"  style="BORDER: #e2e2e2 1px solid">
                                <tr>
                                    <td align="center" valign="top"><table width="100%" height="8" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td><img src="images/aqxs.jpg" width="380" height="101" /></td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="6" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="left"></td>
                                            </tr>
                                        </table>
                                        <table width="96%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="73%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="23%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table>
                                        <table width="96%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="73%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="23%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table>
                                        <table width="96%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="73%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="23%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table>
                                        <table width="96%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="73%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="23%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table></td>
                                </tr>
                            </table></td>
                    </tr>
                </table>
                <table width="100%"  height="22" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                </table>
                <table width="100%"  height="38" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="left" class="style_bt">网上办事</td>
                    </tr>
                </table>
                <table width="98%" height="2" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td bgcolor="#bfbeba"></td>
                    </tr>
                </table>
                <table width="100%"  height="20" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                </table>
                <table width="98%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" height="82" align="left" valign="top"><img src="images/wsbs_1.jpg" width="190" height="80" /></td>
                        <td width="25%" height="82" align="center" valign="top"><img src="images/wsbs_2.jpg" width="190" height="80" /></td>
                        <td width="25%" height="82" align="center" valign="top"><img src="images/wsbs_3.jpg" width="190" height="80" /></td>
                        <td width="25%" height="82" align="right" valign="top"><img src="images/wsbs_4.jpg" width="190" height="80" /></td>
                    </tr>
                    <tr>
                        <td height="82" align="left" valign="top"><img src="images/wsbs_5.jpg" width="190" height="80" /></td>
                        <td height="82" align="center" valign="top"><img src="images/wsbs_6.jpg" width="190" height="80" /></td>
                        <td height="82" align="center" valign="top"><img src="images/wsbs_7.jpg" width="190" height="80" /></td>
                        <td height="82" align="right" valign="top"><img src="images/wsbs_8.jpg" width="190" height="80" /></td>
                    </tr>
                </table>
                <table width="98%" height="65" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="50%" align="center"><table width="120" height="45"border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td><img src="images/xxcx.jpg" width="23" height="21" /></td>
                                    <td align="center" valign="middle" class="style_blue">信息查询</td>
                                </tr>
                            </table></td>
                        <td width="50%" align="center"><table width="120" height="45"border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td><img src="images/xxcx.jpg" width="23" height="21" /></td>
                                    <td align="center" valign="middle" class="style_blue">在线服务</td>
                                </tr>
                            </table></td>
                    </tr>
                </table>
                <table width="98%" height="1" border="0" cellspacing="0" cellpadding="0"  background="images/xx.jpg">
                    <tr>
                        <td></td>
                    </tr>
                </table>
                <table width="98%"  height="20" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td height="31" colspan="5">&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="left"><img src="images/jzxx.jpg" width="149" height="64" /></td>
                        <td align="center"><img src="images/jbts.jpg" width="149" height="64" /></td>
                        <td align="center"><img src="images/wszx.jpg" width="149" height="64" /></td>
                        <td align="center"><img src="images/mydc.jpg" width="149" height="64" /></td>
                        <td align="right"><img src="images/wbhd.jpg" width="149" height="64" /></td>
                    </tr>
                    <tr>
                        <td height="28" colspan="5" align="left">&nbsp;</td>
                    </tr>
                </table>
                <table width="100%"  height="30" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="style_bt">政策法规</td>
                    </tr>
                </table>
                <table width="98%" height="2" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td bgcolor="#bfbeba"></td>
                    </tr>
                </table>
                <table width="98%"  height="202" border="0" cellspacing="0" cellpadding="0" style="BORDER: #eeeef0 1px solid">
                    <tr>
                        <td width="50%" align="center" valign="top"><table width="100%" height="9" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td></td>
                                </tr>
                            </table>
                            <table width="94%" height="180" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="right" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="22%" align="left"><table width="110" height="26" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td align="center" bgcolor="#0c73cf" class="style_white14">法律法规规章</td>
                                                        </tr>
                                                    </table></td>
                                                <td width="65%" align="left" class="content">&nbsp;</td>
                                                <td width="13%" align="right" class="style_more">MORE&gt;&gt;</td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="2" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td bgcolor="#0c73cf"></td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="8" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td></td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="76%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="20%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="76%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="20%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="76%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="20%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="76%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="20%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="76%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="20%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="76%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="20%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table></td>
                                </tr>
                            </table></td>
                        <td width="50%" align="center" valign="top"><table width="100%" height="9" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td></td>
                                </tr>
                            </table>
                            <table width="94%" height="180" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="right" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="22%" align="left"><table width="78" height="26" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td align="center" bgcolor="#0c73cf" class="style_white14">政策文件</td>
                                                        </tr>
                                                    </table></td>
                                                <td width="65%" align="left" class="content">&nbsp;</td>
                                                <td width="13%" align="right" class="style_more">MORE&gt;&gt;</td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="2" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td bgcolor="#0c73cf"></td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="8" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td></td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="76%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="20%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="76%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="20%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="76%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="20%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="76%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="20%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="76%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="20%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table>
                                        <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="4%" align="left" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                                <td width="76%" align="left" class="style_nr">图说烟花爆竹安全生成形式</td>
                                                <td width="20%" align="right" class="style_nr">2016-08-25</td>
                                            </tr>
                                        </table></td>
                                </tr>
                            </table></td>
                    </tr>
                </table></td>
            <td width="280" align="right" valign="top"><table width="280"  height="303" border="0" cellspacing="0" cellpadding="0" style="BORDER: #e2e2e2 1px solid">
                    <tr>
                        <td align="left" valign="top"><table width="100%" height="36" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="2%">&nbsp;</td>
                                    <td width="96%" align="left"><table width="101" height="26" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="center" bgcolor="#0c73cf" class="style_white14">政府信息公开</td>
                                            </tr>
                                        </table></td>
                                </tr>
                            </table>
                            <table width="100%" height="1" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td bgcolor="#e5e5e5"></td>
                                </tr>
                            </table>
                            <table width="100%" height="3" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td></td>
                                </tr>
                            </table>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td height="43" align="center"><img src="images/zfgk_1.jpg" width="260" height="37" /></td>
                                </tr>
                                <tr>
                                    <td height="43" align="center"><img src="images/zfgk_2a.jpg" width="260" height="37" /></td>
                                </tr>
                                <tr>
                                    <td height="43" align="center"><img src="images/zfgk_3a.jpg" width="260" height="37" /></td>
                                </tr>
                                <tr>
                                    <td height="43" align="center"><img src="images/zfgk_4a.jpg" width="260" height="37" /></td>
                                </tr>
                                <tr>
                                    <td height="43" align="center"><img src="images/zfgk_5a.jpg" width="260" height="37" /></td>
                                </tr>
                                <tr>
                                    <td height="43" align="center"><img src="images/zfgk_6a.jpg" width="260" height="37" /></td>
                                </tr>
                            </table></td>
                    </tr>
                </table>
                <table width="100%"  height="10"border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td></td>
                    </tr>
                </table>
                <table width="280"  height="205" border="0" cellspacing="0" cellpadding="0" style="BORDER: #e2e2e2 1px solid">
                    <tr>
                        <td align="left" valign="top"><table width="100%" height="36" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="2%">&nbsp;</td>
                                    <td width="72%" align="left"><table width="78" height="26" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="center" bgcolor="#0c73cf" class="style_white14">通知公告</td>
                                            </tr>
                                        </table></td>
                                    <td width="25%" align="center"><span class="style_more">MORE&gt;&gt;</span></td>
                                </tr>
                            </table>
                            <table width="100%" height="1" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td bgcolor="#e5e5e5"></td>
                                </tr>
                            </table>
                            <table width="100%" height="5" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td></td>
                                </tr>
                            </table>
                            <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="8%" align="center" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                    <td width="92%" align="left" class="style_nr">关于海曙区纳入系统管理生产的经营单位</td>
                                </tr>
                            </table>
                            <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="8%" align="center" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                    <td width="92%" align="left" class="style_nr">关于海曙区纳入系统管理生产的经营单位</td>
                                </tr>
                            </table>
                            <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="8%" align="center" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                    <td width="92%" align="left" class="style_nr">关于海曙区纳入系统管理生产的经营单位</td>
                                </tr>
                            </table>
                            <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="8%" align="center" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                    <td width="92%" align="left" class="style_nr">关于海曙区纳入系统管理生产的经营单位</td>
                                </tr>
                            </table>
                            <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="8%" align="center" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                    <td width="92%" align="left" class="style_nr">关于海曙区纳入系统管理生产的经营单位</td>
                                </tr>
                            </table>
                            <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="8%" align="center" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                    <td width="92%" align="left" class="style_nr">关于海曙区纳入系统管理生产的经营单位</td>
                                </tr>
                            </table></td>
                    </tr>
                </table>
                <table width="100%"  height="55" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                </table>
                <table width="278"  height="55" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td><img src="images/sp.jpg" width="278" height="186" /></td>
                    </tr>
                </table>
                <table width="278" height="39" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="20" bgcolor="#f0f0f0">&nbsp;</td>
                        <td width="213" bgcolor="#f0f0f0" class="content">视频新闻</td>
                        <td width="45" bgcolor="#f0f0f0" class="content">更多</td>
                    </tr>
                </table>
                <table width="100%"  height="16"border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td></td>
                    </tr>
                </table>
                <table width="280"  height="205" border="0" cellspacing="0" cellpadding="0" style="BORDER: #e2e2e2 1px solid">
                    <tr>
                        <td align="left" valign="top"><table width="100%" height="36" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="2%">&nbsp;</td>
                                    <td width="72%" align="left"><table width="78" height="26" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="center" bgcolor="#0c73cf" class="style_white14">最新文件</td>
                                            </tr>
                                        </table></td>
                                    <td width="25%" align="center"><span class="style_more">MORE&gt;&gt;</span></td>
                                </tr>
                            </table>
                            <table width="100%" height="1" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td bgcolor="#e5e5e5"></td>
                                </tr>
                            </table>
                            <table width="100%" height="5" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td></td>
                                </tr>
                            </table>
                            <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="8%" align="center" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                    <td width="92%" align="left" class="style_nr">关于海曙区纳入系统管理生产的经营单位</td>
                                </tr>
                            </table>
                            <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="8%" align="center" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                    <td width="92%" align="left" class="style_nr">关于海曙区纳入系统管理生产的经营单位</td>
                                </tr>
                            </table>
                            <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="8%" align="center" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                    <td width="92%" align="left" class="style_nr">关于海曙区纳入系统管理生产的经营单位</td>
                                </tr>
                            </table>
                            <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="8%" align="center" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                    <td width="92%" align="left" class="style_nr">关于海曙区纳入系统管理生产的经营单位</td>
                                </tr>
                            </table>
                            <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="8%" align="center" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                    <td width="92%" align="left" class="style_nr">关于海曙区纳入系统管理生产的经营单位</td>
                                </tr>
                            </table>
                            <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="8%" align="center" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                    <td width="92%" align="left" class="style_nr">关于海曙区纳入系统管理生产的经营单位</td>
                                </tr>
                            </table></td>
                    </tr>
                </table>
                <table width="100%"  height="30" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                </table>
                <table width="100%"  height="30" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="style_bt">办事指南</td>
                    </tr>
                </table>
                <table width="280" height="2" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td bgcolor="#bfbeba"></td>
                    </tr>
                </table>
                <table width="280"  height="167" border="0" cellspacing="0" cellpadding="0" style="BORDER: #eeeef0 1px solid">
                    <tr>
                        <td align="left" valign="top"><table width="100%" height="5" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td></td>
                                </tr>
                            </table>
                            <table width="100%" height="37" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="left" class="content">　海曙区2016年春节期间安全生产形式平稳</td>
                                </tr>
                            </table>
                            <table width="100%" height="50" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="left" bgcolor="#f0f0f0" class="content12">经过一个多月的精心策划和准备，中国烟花爆竹协会一届二次会员代表大会次会员代表大会次会</td>
                                </tr>
                            </table>
                            <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="8%" align="center" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                    <td width="92%" align="left" class="style_nr">关于海曙区纳入系统管理生产的经营单位</td>
                                </tr>
                            </table>
                            <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="8%" align="center" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                    <td width="92%" align="left" class="style_nr">关于海曙区纳入系统管理生产的经营单位</td>
                                </tr>
                            </table>
                            <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="8%" align="center" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                    <td width="92%" align="left" class="style_nr">关于海曙区纳入系统管理生产的经营单位</td>
                                </tr>
                            </table></td>
                    </tr>
                </table>
                <table width="100%"  height="10"border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td></td>
                    </tr>
                </table>
                <table width="280"  height="216" border="0" cellspacing="0" cellpadding="0" style="BORDER: #e2e2e2 1px solid">
                    <tr>
                        <td align="left" valign="top"><table width="100%" height="36" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="2%">&nbsp;</td>
                                    <td width="72%" align="left"><table width="78" height="26" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="center" bgcolor="#0c73cf" class="style_white14">内部OA</td>
                                            </tr>
                                        </table></td>
                                    <td width="25%" align="center">&nbsp;</td>
                                </tr>
                            </table>
                            <table width="100%" height="1" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td bgcolor="#e5e5e5"></td>
                                </tr>
                            </table>
                            <table width="100%" height="5" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td></td>
                                </tr>
                            </table>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td height="40" align="center"><table width="256" height="35" border="0" cellspacing="0" cellpadding="0" background="images/oa_bg1.jpg">
                                            <tr>
                                                <td align="center" class="style_white14">海曙区公共安全综合监管平台</td>
                                            </tr>
                                        </table></td>
                                </tr>
                                <tr>
                                    <td height="40" align="center"><table width="256" height="35" border="0" cellspacing="0" cellpadding="0" background="images/oa_bg2.jpg">
                                            <tr>
                                                <td align="center" class="content">宁波市安全生产企业服务平台</td>
                                            </tr>
                                        </table></td>
                                </tr>
                                <tr>
                                    <td height="40" align="center"><table width="256" height="35" border="0" cellspacing="0" cellpadding="0" background="images/oa_bg2.jpg">
                                            <tr>
                                                <td align="center" class="content">宁波市安全生产综合监管平台</td>
                                            </tr>
                                        </table></td>
                                </tr>
                                <tr>
                                    <td height="40" align="center"><table width="256" height="35" border="0" cellspacing="0" cellpadding="0" background="images/oa_bg2.jpg">
                                            <tr>
                                                <td align="center" class="content">海曙区安全生产监督管理后台</td>
                                            </tr>
                                        </table></td>
                                </tr>
                            </table></td>
                    </tr>
                </table>
                <table width="100%"  height="10"border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td></td>
                    </tr>
                </table>
                <table width="280"  height="203" border="0" cellspacing="0" cellpadding="0" style="BORDER: #e2e2e2 1px solid">
                    <tr>
                        <td align="left" valign="top"><table width="280" height="2" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td bgcolor="#bfbeba"></td>
                                </tr>
                            </table>
                            <table width="100%" height="36" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="2%">&nbsp;</td>
                                    <td width="72%" align="left"><table width="101" height="26" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="center" bgcolor="#0c73cf" class="style_white14">法规政策解读</td>
                                            </tr>
                                        </table></td>
                                    <td width="25%" align="center"><span class="style_more">MORE&gt;&gt;</span></td>
                                </tr>
                            </table>
                            <table width="100%" height="1" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td bgcolor="#e5e5e5"></td>
                                </tr>
                            </table>
                            <table width="100%" height="5" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td></td>
                                </tr>
                            </table>
                            <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="8%" align="center" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                    <td width="92%" align="left" class="style_nr">关于海曙区纳入系统管理生产的经营单位</td>
                                </tr>
                            </table>
                            <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="8%" align="center" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                    <td width="92%" align="left" class="style_nr">关于海曙区纳入系统管理生产的经营单位</td>
                                </tr>
                            </table>
                            <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="8%" align="center" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                    <td width="92%" align="left" class="style_nr">关于海曙区纳入系统管理生产的经营单位</td>
                                </tr>
                            </table>
                            <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="8%" align="center" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                    <td width="92%" align="left" class="style_nr">关于海曙区纳入系统管理生产的经营单位</td>
                                </tr>
                            </table>
                            <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="8%" align="center" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                    <td width="92%" align="left" class="style_nr">关于海曙区纳入系统管理生产的经营单位</td>
                                </tr>
                            </table>
                            <table width="100%" height="24" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="8%" align="center" class="content"><img src="images/blue_d.jpg" width="4" height="4" /></td>
                                    <td width="92%" align="left" class="style_nr">关于海曙区纳入系统管理生产的经营单位</td>
                                </tr>
                            </table></td>
                    </tr>
                </table></td>
        </tr>
    </table>
    <table width="100%" height="45" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>&nbsp;</td>
        </tr>
    </table>
    <table width="100%"  height="54"border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td bgcolor="#F7F7F7"><table width="1080"height="54" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="left"><table width="520" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="28"><img src="images/yqlj.jpg" width="17" height="14" /></td>
                                    <td width="73" align="left" class="style_bot">友情链接</td>
                                    <td width="10" align="left"><img src="images/yq_x.jpg" width="2" height="40" /></td>
                                    <td width="409" align="center" class="style_bot">国家安监局　浙江省安监局　中国安全生产网　中国安全生产协会</td>
                                </tr>
                            </table></td>
                        <td align="right"><table width="490" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="33%" align="right"><select name="select" style="font-size:12px;width:150px; vertical-align:middle;">
                                            <option selected>--全国省市安检机构--</option>
                                        </select></td>
                                    <td width="33%" align="right"><select name="select2" style="font-size:12px;width:150px; vertical-align:middle;">
                                            <option selected="selected">--全省地市安检机构--</option>
                                        </select></td>
                                    <td width="33%" align="right"><select name="select3" style="font-size:12px;width:150px; vertical-align:middle;">
                                            <option selected="selected">--县市区安检机构--</option>
                                        </select></td>
                                </tr>
                            </table></td>
                    </tr>
                </table></td>
        </tr>
    </table>
    <table width="100%" height="130" border="0" cellspacing="0" cellpadding="0" background="images/bot.jpg">
        <tr>
            <td align="center" class="style_bot"><img src="images/bot_tp.jpg" width="50" height="62" /><br />
                关于本站 | 网站地图 | 联系我们 | 网站声明 | 隐私声明 | 网站管理 | 网站帮助<br />
                宁波市海曙区安全生产监督管理局</td>
        </tr>
    </table>
</center>
</body>
</html>
<!--私有js-->
<script src="js/FrontPage/home.js"></script>