<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>宁波润琛阁装饰有限公司</title>
<link href="images/css.css" rel="stylesheet" type="text/css" />
</head>
<body>
<center>
<table width="100%" height="30" border="0" align="center" cellpadding="0" cellspacing="0" background="images/top_1.jpg">
  <tr>
    <td width="33" align="left" bgcolor="#522124" class="style_white"><table width="1002"  height="33" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="725" align="left" class="style_white">您好！欢迎访问宁波润琛阁装饰有限公司官网！</td>
        <td width="277" align="right">收藏本站 | 在线留言 | 联系我们 | 网站地图</td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="100%" height="150" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><table width="1002" height="135"border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="1046" height="117" align="left"><img src="images/logo.jpg" width="570" height="107" /></td>
        <td width="34" height="50" align="right"><a href="#"><img src="images/top_zk.jpg" width="34" height="29" border="0" /></a></td>
      </tr>
      </table></td>
  </tr>
</table>
<table width="100%" height="58" border="0" align="center" cellpadding="0" cellspacing="0" background="images/dh_bg.jpg">
  <tr>
    <td><table width="1002" height="58"  border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="16%" align="left"><table width="120"height="58"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" bgcolor="#522124" class="style_dh2">网站首页 </td>
          </tr>
        </table></td>
        <td width="16%" align="center" class="style_dh"><a href="gywn">公司简介</a></td>
        <td width="16%" align="center" class="style_dh"><a href="gswh">公司文化</a></td>
        <td width="16%" align="center" class="style_dh"><a href="gsal">公司案例</a></td>
        <td width="16%" align="center" class="style_dh"><a href="lxwm">联系我们</a></td>
        <td width="12%" align="right" class="style_dh"><a href="bzzx">帮助中心</a></td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="100%" height="499" border="0" align="center" cellpadding="0" cellspacing="0" class="banener" >
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" valign="top" bgcolor="#FFFFFF"><table width="1002" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="58">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="50%" height="300" align="left" valign="top"><table width="136" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="images/gsjj.jpg" width="136" height="60" /></td>
          </tr>
        </table>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td height="27">&nbsp;</td>
            </tr>
            <tr>
              <td align="left" class="content"> 　　波润琛阁装饰有限公司成立于1997年，注册资金1000万，是以家装为主，涉足商装、建材等相关产业的专业性装饰公司，同时公司具有施工乙级、设计乙级以及政府颁发的装饰装修一级资质，通过了ISO9001质量管理体系、ISO14001环境管理体系、OHSAS18001职业健康安全管理体系认证。<br />
经过十几载华丽褪变，波润琛阁装饰现已跻身家装行业前三甲，在业内外形成了良好的口碑。公司先后获奖&ldquo;全国住宅装饰装修行业百强企业&rdquo;、&ldquo;全国住宅装饰装修行业知名品牌&rdquo;、&ldquo;住宅装饰装修行业优秀工程奖&rdquo;等多项殊荣，并多次在家居装饰设计大赛中获奖...</td>
            </tr>
            </table></td>
        <td width="50%" height="300" align="right" valign="top"><table width="411" height="299" border="0" cellspacing="0" cellpadding="0" background="images/zz_bg.jpg">
          <tr>
            <td align="center"><table width="95%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="130" align="center"><img src="images/yyzz.jpg" width="174" height="116" /></td>
                <td height="130" align="center"><img src="images/yyzz.jpg" width="174" height="116" /></td>
              </tr>
              <tr>
                <td height="130" align="center"><img src="images/yyzz.jpg" width="174" height="116" /></td>
                <td height="130" align="center"><img src="images/yyzz.jpg" width="174" height="116" /></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="58">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="100%" height="1140"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" valign="top" bgcolor="#e5e3e4"><table width="1002" height="190" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="50%" height="50">&nbsp;</td>
        </tr>
      <tr>
        <td height="58" align="center"><a href="#"><img src="images/ajzs.jpg" width="213" height="76" border="0" /></a></td>
      </tr>
      <tr>
        <td height="50">&nbsp;</td>
      </tr>
      </table>
      <table width="1002" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="33%" height="310"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="center"><img src="images/pic.jpg" width="318" height="237" /></td>
            </tr>
            <tr>
              <td height="50" align="center" class="content">中央学府-300M<sup>2</sup>-欧式风格</td>
            </tr>
          </table></td>
          <td width="33%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="center"><img src="images/pic.jpg" width="318" height="237" /></td>
            </tr>
            <tr>
              <td height="50" align="center" class="content">中央学府-300M<sup>2</sup>-欧式风格</td>
            </tr>
          </table></td>
          <td width="33%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="center"><img src="images/pic.jpg" width="318" height="237" /></td>
            </tr>
            <tr>
              <td height="50" align="center" class="content">中央学府-300M<sup>2</sup>-欧式风格</td>
            </tr>
          </table></td>
        </tr>
      </table>
      <table width="1002" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="33%" height="310"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="center"><img src="images/pic.jpg" width="318" height="237" /></td>
            </tr>
            <tr>
              <td height="50" align="center" class="content">中央学府-300M<sup>2</sup>-欧式风格</td>
            </tr>
          </table></td>
          <td width="33%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="center"><img src="images/pic.jpg" width="318" height="237" /></td>
            </tr>
            <tr>
              <td height="50" align="center" class="content">中央学府-300M<sup>2</sup>-欧式风格</td>
            </tr>
          </table></td>
          <td width="33%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="center"><img src="images/pic.jpg" width="318" height="237" /></td>
            </tr>
            <tr>
              <td height="50" align="center" class="content">中央学府-300M<sup>2</sup>-欧式风格</td>
            </tr>
          </table></td>
        </tr>
      </table>
      <table width="1002" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="33%" height="310"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="center"><img src="images/pic.jpg" width="318" height="237" /></td>
            </tr>
            <tr>
              <td height="50" align="center" class="content">中央学府-300M<sup>2</sup>-欧式风格</td>
            </tr>
          </table></td>
          <td width="33%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="center"><img src="images/pic.jpg" width="318" height="237" /></td>
            </tr>
            <tr>
              <td height="50" align="center" class="content">中央学府-300M<sup>2</sup>-欧式风格</td>
            </tr>
          </table></td>
          <td width="33%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="center"><img src="images/pic.jpg" width="318" height="237" /></td>
            </tr>
            <tr>
              <td height="50" align="center" class="content">中央学府-300M<sup>2</sup>-欧式风格</td>
            </tr>
          </table></td>
        </tr>
      </table></td>
  </tr>
</table>
<table width="100%" height="325" border="0" cellspacing="0" cellpadding="0" background="images/bot.jpg">
  <tr>
    <td align="center" bgcolor="#262626" class="style_bot"><table width="1002" height="325" border="0" cellspacing="0" cellpadding="0" >
      <tr>
        <td height="70" colspan="2"><table width="100%" height="35" border="0" cellspacing="0" cellpadding="0"style="BORDER: #fff 1px solid">
          <tr>
            <td align="center" class="style_dh2">
              <a href="index" style="color: white">网站首页</a>&nbsp;&nbsp;&nbsp;
              <a href="gywn" style="color: white">公司简介</a>&nbsp;&nbsp;&nbsp;
              <a href="gswh" style="color: white">公司文化</a>&nbsp;&nbsp;&nbsp;
              <a href="gsal" style="color: white">公司案例</a>&nbsp;&nbsp;&nbsp;
              <a href="lxwm" style="color: white">联系我们</a>&nbsp;&nbsp;&nbsp;
              <a href="bzzx" style="color: white">帮助中心</a>
            </td>
          </tr>
        </table></td>
        </tr>
      <tr>
        <td width="754" align="left" valign="top"><img src="images/lxwm.jpg" width="380" height="150" /></td>
        <td width="248" rowspan="2" align="center"><img src="images/wxsm.jpg" width="174" height="211" /></td>
      </tr>
      <tr>
        <td height="80" align="left" valign="top" class="style_dh2">Copyright &copy; 2016 All Rights Reserved <br />
          波润琛阁装饰有限公司  版权所有</td>
        </tr>
    </table></td>
  </tr>
</table>
</center>
</body>
</html>
