<div class="cont_y" id="investigateList_page">
	<div class="menudiv" >
		<div id="con_one_1">
			<div class="con_1_1">
				民意调查<span>您现在所在的位置：首页 >> 民意调查</span>
			</div>
			<div class="con_1_2" style="height:500px">
				<ul id="notice_tbody">

				</ul>
			</div>
			<div class="con_1_3">
				<ul>
					<li><a href="javascript:void(0);" class="notice_action4">最末页</a></li>
					<li><a href="javascript:void(0);" class="notice_action3">下一页</a></li>
					<li><a href="javascript:void(0);" class="notice_action2">上一页</a></li>
					<li><a href="javascript:void(0);" class="notice_action1">第一页</a></li>
					<li><span id="notice_num">0</span>  个记录，共 <span id="notice_page">1</span>  页，当前第 <span id="notice_page_show">1</span> 页 |
				</ul>
			</div>
		</div>
		<div id="con_one_2" style="display:none;">
		</div>

		<div id="con_one_3" style="display:none;">
		</div>
		<div id="con_one_4" style="display:none;">tab标签</div>
		<div id="con_one_5" style="display:none;">tab标签</div>
	</div>
</div>
<div class="cont_y" id="investigateList_page_xq">
	<div class="menudiv">
		<div>
			<div class="con_1_1">
				民意调查<span>您现在所在的位置：首页 >> 民意调查 >> 投票</span>
			</div>
			<div class="con_1_2" style="text-align:center;border-bottom: none;margin: 20px 0 0 0;">
				<h3 id="xq_title"></h3>
			</div>
			<div class="con_1_3" div style="text-align:left;">
				<label id="xq_time" style="float: right;"></label>
				<br><br><br><br>
				<input name="Fruit" type="radio" value="A" /><lable id="optionA"></lable>
				<br><br>
				<input name="Fruit" type="radio" value="B" /><lable id="optionB"></lable>
				<br><br>
				<input name="Fruit" type="radio" value="C" /><lable id="optionC"></lable>
				<br><br>
				<input name="Fruit" type="radio" value="D" /><lable id="optionD"></lable>
				<br>
			</div>
			<div class="ssk" div style="text-align:left;margin:30px 0 10px 2%;">
				<span id="reply0" style="text-align:center;width: 8%;margin: 0px 10% 0px 28%;">提交</span>
				<span id="return0" style="text-align:center;width: 8%;margin: 0px 0px 0px 5px;">反回</span>
			</div>
		</div>
	</div>
</div>
<div class="cont_y" id="finally">
	<div class="menudiv">
		<div>
			<div class="con_1_1">
				民意调查<span>您现在所在的位置：首页 >> 民意调查 >> 投票结果</span>
			</div>
			<div class="con_1_2" style="text-align:center;border-bottom: none;margin: 20px 0 0 0;">
				<h3 id="finally_title"></h3>
			</div>
			<div class="con_1_3" div style="text-align:left;white-space:nowrap;" id="finally_con">

			</div>
			<div class="ssk" div style="text-align:left;margin:30px 0 10px 2%;">
				<span id="finally_reply" style="text-align:center;width: 8%;margin: 0px 10% 0px 42%;">确定</span>
			</div>
		</div>
	</div>
</div>
<!--私有js-->
<script src="js/FrontPage/investigateList.js"></script>
