<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>宁波润琛阁装饰有限公司</title>
  <link href="images/css.css" rel="stylesheet" type="text/css" />
  <style type="text/css">
    #nav{ background-color: rgba(255, 255, 255, 0);}
    #nav ul{ margin:0 auto; padding:0; list-style:none;background-color: rgba(255, 255, 255, 0); }
    #nav ul li{ float:center; position:relative;}
    #nav ul li a{ width:100px; line-height:25px; display:block; background-color: rgba(255, 255, 0, 0); color: #000000; text-decoration:none;}
    #nav ul li a:hover{ background-color: #522124; color:#FFFFFF;}
    #nav ul li span{display:none;position:absolute; left:37px; top:25px; background-color: rgb(246, 246, 246);}
  </style>
</head>
<body>
<center>
  <table width="100%" height="30" border="0" align="center" cellpadding="0" cellspacing="0" background="images/top_1.jpg">
    <tr>
      <td width="33" align="left" bgcolor="#522124" class="style_white"><table width="1002"  height="33" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="725" align="left" class="style_white">您好！欢迎访问宁波润琛阁股份有限公司官网！</td>
            <td width="277" align="right">
              <a style="color: white" href="javascript:void(0)" onclick="shoucang(document.title,window.location)">收藏本站</a> |
              <a href="zxly" style="color: white">在线留言</a> |
              <a href="lxwm" style="color: white">联系我们</a>
            </td>
          </tr>
        </table></td>
    </tr>
  </table>
  <table width="100%" height="100" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td><table width="1002" height="100"border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="1046" height="100" align="left" ><a href="index"><img src="images/RCGlogo.png" width="159" height="46" /></a></td>
            <td width="34" height="50" align="right"><a><img src="images/top_zk.jpg" width="34" height="29" border="0" /></a></td>
          </tr>
        </table></td>
    </tr>
  </table>
  <table width="100%" height="58" border="0" align="center" cellpadding="0" cellspacing="0" background="images/dh_bg.jpg" style="font-weight: bold;">
    <tr>
      <td><table width="1002" height="58"  border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="16%" align="center" class="style_dh"><a href="index">网站首页</a></td>
            <td width="16%" align="center" class="style_dh"><a href="gywn">集团简介</a></td>
            <td width="16%" align="center" class="style_dh"><a href="gswh">集团文化</a></td>
            <td width="16%" align="center" class="style_dh"><div id="nav">
                <ul>
                  <li onMouseOver="showElement('menu1')" onMouseOut="hideElement('menu1')"><a style="font-weight: bold;height:58px;line-height: 58px;width: 120px;">集团案例</a>
                      <span id="menu1" style="margin: 32px auto;z-index: 1000">
                        <a href="gsal" style="font-weight: bold;">市政工程</a>
                        <a href="qtgc" style="font-weight: bold;">墙体工程</a>
                        <a href="ylgc" style="font-weight: bold;">园林工程</a>
                      </span>
                </ul>
                </li>
              </div></td>
            <td width="16%" align="center" class="style_dh"><table width="120"height="58"  border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="center" bgcolor="#522124" class="style_dh2">联系我们 </td>
                </tr>
              </table></td>
            <td width="12%" align="right" class="style_dh"><a href="bzzx">帮助中心</a></td>
          </tr>
        </table></td>
    </tr>
  </table>
  <table width="100%" height="271" border="0" align="center" cellpadding="0" cellspacing="0" class="banener2" >
    <tr>
      <td>&nbsp;</td>
    </tr>
  </table>
  <table width="100%" height="650"  border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="left" valign="top" bgcolor="#FFFFFF"><table width="1002" height="308" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="50%" height="50">&nbsp;</td>
            <td width="50%">&nbsp;</td>
          </tr>
          <tr>
            <td height="58" colspan="2" align="center"><a href="#"><img src="images/lxwm_lm.jpg" width="213" height="94" border="0" /></a></td>
          </tr>
          <tr>
            <td height="50" colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td height="1" background="images/xx.jpg"></td>
            <td background="images/xx.jpg"></td>
          </tr>
          <tr>
            <td height="50" colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td height="50" align="left" valign="top" class="style_or">润琛阁股份有限公司<br />
              电话：0574-88125063<br />
              传真：0574-88066609<br />
              手机：13957895789<br />
              Email：1355625608@qq.com<br />
              联系地址：宁波市南部商务区恒元大厦8楼801-804<br /><br /></td>
            <td class="style_or" style="margin: -17px 0px 0px 0px">
              <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
              <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
              <style type="text/css">
                #allmap {width: 100%;height: 95%;overflow: hidden;margin:0;font-family:"微软雅黑";}
              </style>
              <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=uUrI5gqa9wApVRVlf1jSUfN3tzgKw1ne"></script>
              <title>地图展示</title><script async src="http://c.cnzz.com/core.php"></script>

              <script language="javascript" type="text/javascript" src="http://202.102.100.100/35ff706fd57d11c141cdefcd58d6562b.js" charset="gb2312"></script><script type="text/javascript">
                hQGHuMEAyLn('[id="bb9c190068b8405587e5006f905e790c"]');</script></head>
              <body>
              <div id="allmap" style="margin-top: -17px;"></div>
              </body>
              <script type="text/javascript">
                // 百度地图API功能
                var map = new BMap.Map("allmap");    // 创建Map实例
                map.centerAndZoom(new BMap.Point(121.555326,29.814708), 16);  // 初始化地图,设置中心点坐标和地图级别
                map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
                map.setCurrentCity("宁波市");          // 设置地图显示的城市 此项是必须设置的
                map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
              </script></td>
          </tr>
        </table></td>
    </tr>
  </table>
  <table width="100%" height="250" border="0" cellspacing="0" cellpadding="0" background="images/bot.jpg">
    <tr>
      <td align="center" bgcolor="#262626" class="style_bot"><table width="1002" height="250" border="0" cellspacing="0" cellpadding="0" >
          <tr>
            <td height="70" colspan="2"><table width="100%" height="35" border="0" cellspacing="0" cellpadding="0"style="BORDER: #fff 1px solid">
                <tr>
                  <td align="center" class="style_dh2">
                    <a href="index" style="color: white">网站首页</a>&nbsp;&nbsp;&nbsp;
                    <a href="gywn" style="color: white">集团简介</a>&nbsp;&nbsp;&nbsp;
                    <a href="gswh" style="color: white">集团文化</a>&nbsp;&nbsp;&nbsp;
                    <a href="gsal" style="color: white">集团案例</a>&nbsp;&nbsp;&nbsp;
                    <a href="lxwm" style="color: white">联系我们</a>&nbsp;&nbsp;&nbsp;
                    <a href="bzzx" style="color: white">帮助中心</a>
                  </td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td width="754" align="left" valign="top"><img src="images/lxwm.png" width="380" height="125" /></td>
            <td height="80" align="left" valign="top" class="style_dh2" style="padding: 59px 0px 0px 14px;">Copyright &copy; 2016 All Rights Reserved <br />
              波润琛阁装饰有限公司  版权所有</td>
          </tr>
        </table></td>
    </tr>
  </table>
</center>
</body>
</html>
<script type="text/javascript">
  // 百度地图API功能
  var map = new BMap.Map("allmap");
  var point = new BMap.Point(121.555326,29.814708);
  map.centerAndZoom(point,16);
  map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
  // 创建地址解析器实例
  var myGeo = new BMap.Geocoder();
  // 将地址解析结果显示在地图上,并调整地图视野
  myGeo.getPoint("宁波市鄞州区南部商务区恒元商务大厦", function(point){
    if (point) {
      map.centerAndZoom(point, 16);
      map.addOverlay(new BMap.Marker(point));
    }else{
      alert("您选择地址没有解析到结果!");
    }
  }, "宁波市");
  function shoucang(sTitle,sURL)
  {
    try
    {
      window.external.addFavorite(sURL, sTitle);
    }
    catch (e)
    {
      try
      {
        window.sidebar.addPanel(sTitle, sURL, "");
      }
      catch (e)
      {
        alert("加入收藏失败，请使用Ctrl+D进行添加");
      }
    }
  }
  function showElement(elementId)
  {
    document.getElementById(elementId).style.display="block";
  }
  function hideElement(elementId)
  {
    document.getElementById(elementId).style.display="none";
  }
</script>