<!DOCTYPE html>
<html lang="en">
<head>
<!--	<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">-->
	<meta charset="UTF-8">
	<title>在线学习</title>
	<link rel="stylesheet" type="text/css" href="css/zxxx.css">
	<script type="text/javascript" src="js/jquery-1.9.0.min.js"></script>
</head>
<body>
<div class="header" style="background-image: url('images/53.png');background-size:100% 100%;padding: 0.5% 0">
	<div class="tt" style="background-image: url('images/logo.png');background-size:30% 90%;background-repeat:no-repeat; ">
	</div>
</div>
<div class="article" style="background-image: url('images/52.png');background-size:100% 100%; ">
		<span class="jrks" onclick="window.location.href = '/OnlineTest'; ">进入模拟考试</span>
</div>
<div class="footer"  style="padding: 15px 0 10px;">
	<div>
    	<span style="display: inline-block;font-weight:bold;line-height: 25px;">
    	    <a>关于本站</a> | <a>网站地图</a>  | <a>联系我们</a>  | <a>网站声明</a>  | <a>隐私声明</a>  | <a>网站管理</a>  | <a>网站帮助</a> </br>
			宁波市海曙区安全生产监督管理局
        </span>
	</div>
</div>

</body>
</html>