<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
	<meta charset="UTF-8">
	<title>在线考试</title>
	<link rel="stylesheet" type="text/css" href="css/zxxx.css">
	<script type="text/javascript" src="js/jquery-1.9.0.min.js"></script>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
	<!--	<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">-->
	<meta charset="UTF-8">
	<title>在线学习</title>
	<link rel="stylesheet" type="text/css" href="css/zxxx.css">
	<script type="text/javascript" src="js/jquery-1.9.0.min.js"></script>
</head>
<body>
<div class="header" style="background-image: url('images/53.png');background-size:100% 100%;padding: 0.5% 0">
	<div class="tt" style="background-image: url('images/logo.png');background-size:30% 90%;background-repeat:no-repeat; ">
	</div>
</div>
<div class="article" style="font-family:'微软雅黑'">
	<div class="article_1 xxbt">
		<div style="position: relative;top: 15%;">
			<form action =""  >
				考生姓名:小陈
				<hr style="margin: 20px 0px;">
				<div style="margin-bottom: 10px;">一、单选题（总分100分。请从下列每一道考题的备选答案中选择一个答案）</div>
				<div style="line-height: 50px;">
					1. Internet上使用的网络协议是：__________
					<ol>
						<input type="radio" name="sex" id="male" value="male">
						A.<label for="male">Male</label>
						<input type="radio" name="sex" id="female" value="female">
						B.<label for="female">Female</label>
						<input type="radio" name="sex" id="male1" value="male">
						C.<label for="TCP/IP5">TCP/IP5</label>
						<input type="radio" name="sex" id="female1" value="female">
						D.<label for="null">以上答案都不对</label>
					</ol>
					已做0题/共1题 剩余1题 <span class="syt">上一题</span><span class="xyt">下一题</span>
				</div>
				<hr style="margin: 20px 0px;">
				<span class="kspf">开始评分</span>
				<span class="cxcs">重新测试</span>
				你的考试成绩：
				<input type="text">
			</form>
		</div>
	</div>
</div>
<div class="footer"  style="padding: 15px 0 10px;">
	<div>
    	<span style="display: inline-block;font-weight:bold;line-height: 25px;">
    	    <a>关于本站</a> | <a>网站地图</a>  | <a>联系我们</a>  | <a>网站声明</a>  | <a>隐私声明</a>  | <a>网站管理</a>  | <a>网站帮助</a> </br>
			宁波市海曙区安全生产监督管理局
        </span>
	</div>
</div>
</body>
</html>