<div class="con_1_4">
    <div class="con_1_4_1">
    		  <span><img src="images/41.png">友情链接<div></div>
                  <a href="http://www.chinasafety.gov.cn/newpage/" target="_blank">国家安监总局</a>
                  <a href="http://www.zjsafety.gov.cn/cn/" target="_blank">浙江省安监局</a>
                  <a href="http://www.aqsc.cn/" target="_blank">中国安全生产网</a>
                  <a href="http://www.nbsafety.org.cn/" target="_blank">宁波市安全生产协会</a>
              </span>
        <select>
            <option>--县市区安监机构--</option>
        </select>
        <select>
            <option>--全省地市安监机构--</option>
        </select>
        <select>
            <option>--全国省市安监机构--</option>
        </select>
    </div>
</div>
<div class="footer"  style="padding: 7px 0 0px;">
    <div>
        <img src="images/dx.png" style="margin-right: 25px;position: relative;top: -10px;">
    	<span style="display: inline-block;line-height: 25px;">
    	    <a>关于本站</a> | <a>网站地图</a>  | <a>联系我们</a>  | <a>网站声明</a>  | <a>隐私声明</a>  | <a>网站管理</a>  | <a>网站帮助</a> </br>
            宁波市海曙区安全生产监督管理局
        </span>
    </div>
</div>