<div class="header" id="header_page">
    <div class="tou_1">
        <div class="tou_2">
            <div></div><a style="color: white" href="http://www.chinasafety.gov.cn/newpage/" target="_blank">国家安全生产监督管理总局</a>
            <div></div><a style="color: white" href="http://www.zjsafety.gov.cn/cn/" target="_blank">浙江省安全生产监督管理局</a>
            <div></div><a style="color: white" href="http://www.nbsafety.cn/" target="_blank">宁波市安全生产监督管理局</a>
            <span><label id="UNLabel" for="male" hidden >欢迎</label><a id="sign">登录</a><a>/</a><a id="reg">注册</a><img src="images/31.png"><img src="images/32.png"><img src="images/33.png"></span>
        </div>
        <img src="images/logo.jpg" width="489" height="83" style="margin-top: -7px;">
        <div class="ssk">
            <input type="text"/><img src="images/sousuo.jpg" width="96" height="33"><br><br>
            举报投诉<div style="display:inline-block;width:15px;"></div>0574-12350
        </div>
        <div class="nav">
            <ul>
                <li><a style="margin: 0px 0px 0px -20px;" href="/home">首页</a></li>
                <li><a style="margin: 0px 0px 0px -20px;" href="/menu?flMenu=1">政府信息公开</a></li>
                <li><a style="margin: 0px 0px 0px -20px;" href="/menu?flMenu=2">机构概况</a></li>
                <li><a style="margin: 0px 0px 0px -20px;" href="/menu?flMenu=3">政策法规</a></li>
                <li><a style="margin: 0px 0px 0px -20px;" href="/menu?flMenu=4">安监政务</a></li>
                <li><a style="margin: 0px 0px 0px -20px;" href="/menu?flMenu=5">安监动态</a></li>
                <li><a style="margin: 0px 0px 0px -20px;" href="/menu?flMenu=6">科室专栏</a></li>
                <li><a style="margin: 0px 0px 0px -20px;" href="/menu?flMenu=7">专题专栏</a></li>
                <li><a style="margin: 0px 0px 0px -20px;" href="/menu?flMenu=8">服务大厅</a></li>
                <li><a style="margin: 0px 0px 0px -20px;" href="/menu?flMenu=9">互动交流</a></li>
                <li><a style="margin: 0px 0px 0px -20px;" href="/menu?flMenu=10">在线学堂</a></li>
            </ul>
            <div class="clr"></div>
        </div>
        <div id="signIn" style="width: 40%;position: absolute;z-index: 1000;top: 30%;left: 38%;" hidden>
            <div style="border: 1px solid #CCC; width: 70%; margin: 0 auto;background-color: #fff;" id="mas">
                <div class="sstj" style="text-align:left;margin: 0 auto;background-color:#4EA5F2;height:40px;line-height:40px;color:#fff;">
                    <h5>&nbsp;登陆</h5>
                </div>
                <br>
                <div class="sstj" div style="text-align:left;margin-left: 6%;">
                    <lable>账&nbsp;号：</lable>
                    <input id="LoginAccount" type="text" style="width: 60%;height: 28px;" >
                    <br>
                    <lable>密&nbsp;码：</lable>
                    <input id="LoginPassword" type="password" style="width: 60%;height: 28px; margin: 12px 0px 12px 0px;" >
                    <br>
                    <td style="padding-top:30px;"><label id="signLabel" for="male" style="margin: 0px 0 0 72px;" ></label></td>
                </div>
                <div class="sstj" div style="text-align:left;margin:30px 0 10px 2%;">
                    <span id="reply" style="text-align:center;width: 20%;margin: 0px 5% 0px 16%;display: inline-block;background-color: #63A6EC;padding: 5px 13px;color: #fff;cursor: pointer;">登陆</span>
                    <span id="return" style="text-align:center;width: 20%;margin: 0px 0 0px 5%;display: inline-block;background-color: #63A6EC;padding: 5px 13px;color: #fff;cursor: pointer;">取消</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--私有js-->
<script src="js/FrontPage/q_header.js"></script>

